@media(min-width:1201px) and (max-width:1600px) {
    .recommends-slider {
        overflow: hidden;
    }
    /* **** ingredient-philosophy **** */
    .about-banner.science-banner .abt-dt {
        right: 10%;
    }
    .inner-details {
        right: 10%;
    }
    .about-banner .abt-dt {
        right: 10%;
    }
    .informetion-info {
        width: 80%;
    }
    .product6t-wrp .visible-box {
        width: 40%;
        right: 20px;
    }
    /* **** End ingredient-philosophy **** */
}

@media(min-width:1025px) and (max-width:1200px) {
    /* **** About **** */
    .abt-dt {
        right: 60px;
        width: 300px;
    }
    .abt-dt h4 {
        font-size: 28px;
    }
    .informetion-info {
        width: auto;
    }
    .informetion-info h2 {
        font-size: 28px;
        line-height: 38px;
        margin: 0 0 15px;
    }
    .informetion-info p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 15px;
    }
    .beauty-wrp {
        padding: 0 0 100px;
    }
    .beauty-wrp .titlebix h2 {
        font-size: 22px;
    }
    .beauty-wrp .titlebix h2 br {
        display: none;
    }
    .charter-block p {
        font-size: 25px;
        line-height: 32px;
        margin-top: -250px;
    }
    /* **** End About **** */
    /* **** bleue-hour **** */
    .inner-details {
        right: 10%;
    }
    .inner-details h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .inner-details p {
        font-size: 12px;
    }
    .prism-about .abt-img img {
        width: 100%;
    }
    .prism-about .container-fluid {
        padding: 0 15px;
    }
    .prism-about .abt-info {
        padding: 20px 0 0;
    }
    .prism-about .abt-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .prism-about {
        padding: 0 0 60px;
    }
    .info-line h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .info-line h1 br {
        display: none;
    }
    .info-line {
        padding: 50px 0 20px;
    }
    .regime-wrpper .container {
        width: auto;
        max-width: unset;
    }
    .recommends-slider .slick-slide {
        margin: 0 0;
    }
    .recommends-slider .slick-list {
        margin: 0 -0;
    }
    .regime-wrpper .nav-tabs .nav-item {
        margin: 0;
    }
    .regime-wrpper .nav-tabs {
        padding: 0 0 20px;
    }
    .regime-wrpper {
        padding: 0 0 60px;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .collection-story-wrp .container-fluid {
        padding: 0 15px;
    }
    .collection-story-wrp {
        padding: 40px 0;
    }
    .seals-blue-wrp h2 {
        font-size: 26px;
    }
    .seals-blue-wrp img {
        margin: 40px 0 0;
    }
    .explore-wrp h2 {
        font-size: 22px;
    }
    .explore-wrp h3 {
        font-size: 22px;
    }
    .benefit-wrp .container-fluid {
        padding-left: 15px;
    }
    .benefit-wrp .benefit-img img {
        margin: 0 0 20px;
    }
    .benefit-info p {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .envoking-wrp h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .video-block img {
        max-width: 100%;
    }
    .video-wrp .video-block a.play img {
        max-width: 50px;
    }
    /* **** End bleue-hour **** */
    /* **** Product **** */
    .description-wrp .accordion .accordion-item .accordion-button {
        font-size: 16px;
    }
    .description-wrp .accordion .accordion-item p {
        font-size: 15px;
    }
    .product-page-wrp .skin-wrp {
        right: 20px;
    }
    .product-page-wrp .skin-wrp li {
        font-size: 15px;
    }
    .product-page-wrp .skin-wrp li span {
        font-size: 15px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs {
        position: relative;
        margin: 0 0 30px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs li {
        float: none;
    }
    .benefits-wrp .benefits-block {
        width: 80%;
    }
    .product-page-wrp .visible-results .description-wrp {
        width: 40%;
        right: 10%;
    }
    .application-wrp .titlebar p {
        width: auto;
        font-size: 16px;
    }
    section.regime-wrpper.complex-wrpper {
        padding: 40px 0;
    }
    /* **** End Product **** */
    .visible-box {
        width: 40%;
        right: 40px;
    }
    .product6t-wrp .visible-box {
        width: 40%;
        right: 20px;
    }
}

@media(min-width:992px) and (max-width:1024px) {
    /* **** Home Page **** */
    .house-wrpper img {
        max-width: 100%;
    }
    /* **** End Home Page **** */
    /* **** About **** */
    .abt-dt {
        right: 60px;
        width: 300px;
    }
    .abt-dt h4 {
        font-size: 28px;
    }
    .informetion-info {
        width: auto;
    }
    .informetion-info h2 {
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 15px;
    }
    .informetion-info p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 15px;
    }
    .beauty-wrp {
        padding: 0 0 100px;
    }
    .beauty-wrp .titlebix h2 {
        font-size: 22px;
    }
    .beauty-wrp .titlebix h2 br {
        display: none;
    }
    .charter-block p {
        font-size: 25px;
        line-height: 32px;
        margin-top: -250px;
    }
    /* **** End About **** */
    /* **** bleue-hour **** */
    .inner-details {
        right: 10%;
    }
    .inner-details h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .inner-details p {
        font-size: 12px;
    }
    .prism-about .abt-img img {
        width: 100%;
    }
    .prism-about .container-fluid {
        padding: 0 15px;
    }
    .prism-about .abt-info {
        padding: 20px 0 0;
    }
    .prism-about .abt-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .prism-about {
        padding: 0 0 60px;
    }
    .info-line h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .info-line h1 br {
        display: none;
    }
    .info-line {
        padding: 50px 0 20px;
    }
    .regime-wrpper .container {
        width: auto;
        max-width: unset;
    }
    .recommends-slider .slick-slide {
        margin: 0 0;
    }
    .recommends-slider .slick-list {
        margin: 0 -0;
    }
    .regime-wrpper .nav-tabs .nav-item {
        margin: 0;
    }
    .regime-wrpper .nav-tabs {
        padding: 0 0 20px;
    }
    .regime-wrpper {
        padding: 0 0 60px;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .collection-story-wrp .container-fluid {
        padding: 0 15px;
    }
    .collection-story-wrp {
        padding: 40px 0;
    }
    .seals-blue-wrp h2 {
        font-size: 26px;
    }
    .seals-blue-wrp img {
        margin: 40px 0 0;
    }
    .explore-wrp h2 {
        font-size: 22px;
    }
    .explore-wrp h3 {
        font-size: 22px;
    }
    .benefit-wrp .container-fluid {
        padding-left: 15px;
    }
    .benefit-wrp .benefit-img img {
        margin: 0 0 20px;
    }
    .benefit-info p {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .envoking-wrp h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .video-block img {
        max-width: 100%;
    }
    .video-wrp .video-block a.play img {
        max-width: 50px;
    }
    .contact-wrp .can-help-footer ul li a {
        font-size: 14px;
    }
    .contact-wrp .can-help-footer ul li {
        margin-right: 20px;
    }
    .form-box {
        width: auto;
        margin: 0 0 20px;
    }
    .contact-wrp {
        padding: 60px 0;
    }
    /* **** End bleue-hour **** */
    /* **** creams **** */
    .luxury-box img {
        width: 50%;
    }
    /* **** End creams **** */
    /* **** ingredient-philosophy **** */
    .about-banner.science-banner .abt-dt {
        right: 10%;
    }
    /* **** End ingredient-philosophy **** */
    /* **** Product **** */
    .description-wrp .accordion .accordion-item .accordion-button {
        font-size: 16px;
    }
    .description-wrp .accordion .accordion-item p {
        font-size: 15px;
    }
    .product-page-wrp .skin-wrp {
        right: 20px;
    }
    .product-page-wrp .skin-wrp li {
        font-size: 15px;
    }
    .product-page-wrp .skin-wrp li span {
        font-size: 15px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs {
        position: relative;
        margin: 0 0 30px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs li {
        float: none;
    }
    .benefits-wrp .benefits-block {
        width: 100%;
    }
    .product-page-wrp .visible-results .description-wrp {
        width: 40%;
        right: 10%;
    }
    .application-wrp .titlebar p {
        width: auto;
        font-size: 16px;
    }
    section.regime-wrpper.complex-wrpper {
        padding: 40px 0;
    }
    /* **** End Product **** */
    .visible-box {
        width: 40%;
        right: 40px;
    }
    /* **** product6t **** */
    .product6t-wrp .ingredients-wrp .nav-tabs {
        position: relative;
    }
    .product6t-wrp .visible-box {
        position: relative;
        left: 0;
        right: 0;
        transform: unset;
        width: 100%;
        padding: 20px;
    }
    /* **** product6t **** */
    .prism-about .abt-info p {
        width: auto;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .benefit-info p {
        width: auto;
    }
}

@media(min-width:768px) and (max-width:991px) {
    /* **** Home Page **** */
    .house-wrpper img {
        max-width: 100%;
    }
    /* **** End Home Page **** */
    /* **** About **** */
    .abt-dt {
        right: 60px;
        width: 300px;
    }
    .abt-dt h4 {
        font-size: 28px;
    }
    .informetion-info {
        width: auto;
    }
    .informetion-info h2 {
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 15px;
    }
    .informetion-info p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 15px;
    }
    .beauty-wrp {
        padding: 0 0 100px;
    }
    .beauty-wrp .titlebix h2 {
        font-size: 22px;
    }
    .beauty-wrp .titlebix h2 br {
        display: none;
    }
    .charter-block p {
        font-size: 25px;
        line-height: 32px;
        margin-top: -250px;
    }
    /* **** End About **** */
    /* **** bleue-hour **** */
    .inner-details {
        background-color: #000;
        position: relative;
        transform: unset;
        right: auto;
        left: auto;
        top: auto;
        padding: 0 0 20px;
    }
    .inner-details h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .inner-details p {
        font-size: 12px;
    }
    .prism-about .abt-img img {
        width: 100%;
    }
    .prism-about .container-fluid {
        padding: 0 15px;
    }
    .prism-about .abt-info {
        padding: 20px 0 0;
    }
    .prism-about .abt-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .prism-about {
        padding: 0 0 60px;
    }
    .info-line h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .info-line h1 br {
        display: none;
    }
    .info-line {
        padding: 50px 0 20px;
    }
    .regime-wrpper .container {
        width: auto;
        max-width: unset;
    }
    .recommends-slider .slick-slide {
        margin: 0 0;
    }
    .recommends-slider .slick-list {
        margin: 0 -0;
    }
    .regime-wrpper .nav-tabs .nav-item {
        margin: 0;
    }
    .regime-wrpper .nav-tabs {
        padding: 0 0 20px;
    }
    .regime-wrpper {
        padding: 0 0 60px;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .collection-story-wrp .container-fluid {
        padding: 0 15px;
    }
    .collection-story-wrp {
        padding: 40px 0;
    }
    .seals-blue-wrp h2 {
        font-size: 26px;
    }
    .seals-blue-wrp img {
        margin: 40px 0 0;
    }
    .explore-wrp h2 {
        font-size: 22px;
    }
    .explore-wrp h3 {
        font-size: 22px;
    }
    .benefit-wrp .container-fluid {
        padding-left: 15px;
    }
    .benefit-wrp .benefit-img img {
        margin: 0 0 20px;
    }
    .benefit-info p {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .envoking-wrp h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .video-block img {
        max-width: 100%;
    }
    .video-wrp .video-block a.play img {
        max-width: 50px;
    }
    .contact-wrp .can-help-footer ul li a {
        font-size: 14px;
    }
    .contact-wrp .can-help-footer ul li {
        margin-right: 20px;
    }
    .form-box {
        width: auto;
        margin: 0 0 20px;
    }
    .contact-wrp {
        padding: 60px 0;
    }
    /* **** End bleue-hour **** */
    /* **** cleansers **** */
    .cleanser-box .luxury-info {
        padding: 20px 10px 10px 30px;
    }
    .luxury-box .luxury-info h3 {
        font-size: 15px;
        margin: 0 0 15px;
    }
    .luxury-box .luxury-info p {
        font-size: 15px;
    }
    /* **** End cleansers **** */
    /* **** creams **** */
    .luxury-box img {
        width: 40%;
    }
    /* **** End creams **** */
    /* **** dali-decadance **** */
    .transcendance-hero .inner-details h2 {
        color: #fff;
    }
    .transcendance-hero .inner-details p {
        color: #fff;
    }
    /* **** End dali-decadance **** */
    /* **** ingredient-philosophy **** */
    .about-banner.science-banner .abt-dt {
        right: 50px;
    }
    .abt-dt h2 {
        font-size: 28px;
    }
    .ccrt-wrpper .ccrt-block {
        padding: 0 0 40px;
    }
    .ccrt-wrpper .ccrt-block h2 {
        font-size: 22px;
        line-height: 28px;
        width: auto;
    }
    .ccrt-wrpper .ccrt-block .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .ccrt-wrpper .ccrt-block .col-md-6.col-sm-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ccrt-wrpper {
        overflow: hidden;
    }
    .ccrt-wrpper .ccrt-block h3 {
        font-size: 28px;
    }
    /* **** End ingredient-philosophy **** */
    /* **** magnum-opus **** */
    .inner-details {
        padding: 20px 0;
    }
    .collection-story-wrp .story-info p {
        margin: 0 0 15px;
    }
    /* **** End magnum-opus **** */
    /* **** manifesto **** */
    .manifesto-hero {
        height: 450px;
        object-fit: cover;
        object-position: 60%;
    }
    .informetion-image img {
        height: 420px;
        object-position: center;
        object-fit: cover;
    }
    /* **** End manifesto **** */
    /* **** science **** */
    .cellular-block {
        width: auto;
        padding: 40px 0;
    }
    .science-informetion .informetion-image img {
        height: auto;
    }
    /* **** End science **** */
    /* **** time-prism **** */
    .refractions-wrp .container {
        width: auto;
        max-width: unset;
    }
    .pigmnets-wrp .pigmnets-img h2 {
        font-size: 18px;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        text-align: center;
    }
    .refractions-wrp h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .benefit-wrp {
        padding: 40px 0;
    }
    /* **** End time-prism **** */
    /* **** Product **** */
    .description-wrp .accordion .accordion-item .accordion-button {
        font-size: 16px;
    }
    .description-wrp .accordion .accordion-item p {
        font-size: 15px;
    }
    .product-page-wrp .skin-wrp {
        right: 20px;
    }
    .product-page-wrp .skin-wrp li {
        font-size: 15px;
    }
    .product-page-wrp .skin-wrp li span {
        font-size: 15px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs {
        position: relative;
        margin: 0 0 30px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs li {
        float: none;
    }
    .benefits-wrp .benefits-block {
        width: 100%;
    }
    .product-page-wrp .visible-results .description-wrp {
        position: relative;
        transform: unset;
        left: 0;
        right: 0;
        top: 0;
        width: auto;
        padding: 40px 15px;
    }
    .application-wrp .titlebar p {
        width: auto;
        font-size: 16px;
    }
    section.regime-wrpper.complex-wrpper {
        padding: 40px 0;
    }
    /* **** End Product **** */
    .visible-box {
        width: 40%;
        right: 40px;
    }
    /* **** product6t **** */
    .product6t-wrp .ingredients-wrp .nav-tabs {
        position: relative;
    }
    .product6t-wrp .visible-box {
        position: relative;
        left: 0;
        right: 0;
        transform: unset;
        width: 100%;
        padding: 20px;
    }
    /* **** product6t **** */
    /* **** Mobile Menu **** */
    header .navbar-toggler {
        height: auto;
        width: auto;
        padding: 0;
    }
    .navigation-wrapper {
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        height: 100%;
        overflow: auto;
        padding: 110px 0 50px;
    }
    .open-navigation.navigation-wrapper {
        top: 0;
        left: 0;
    }
    .navigation-links .links-block {
        display: none;
    }
    .navigation-wrapper .accordion {
        padding: 20px 0;
        display: block;
    }
    .navigation-links .nav-tiles-wrapper {
        width: 80%;
    }
    /* **** End Mobile Menu **** */
    .video-wrp .video-block {
        width: 80%;
    }
    .time-prism-hero .ds-img {
        display: none;
    }
    .time-prism-hero .mb-img {
        display: block;
    }
    .prism-about .abt-info p {
        width: auto;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .benefit-info p {
        width: auto;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .envoking-circle {
        width: 250px;
        height: 250px;
    }
    /* **** Home Page **** */
    .recommend-box h2 {
        min-height: auto;
    }
    .offset-3 {
        margin: 0;
    }
    .touch-wrpper .form-group {
        width: auto;
    }
    header {
        padding: 15px 15px 0 0;
    }
    .navigation-wrapper {
        top: -120%;
    }
    .open-navigation.navigation-wrapper {
        top: 70px;
    }
    .search-bar .form-group {
        width: auto;
    }
    .hero-wrp {
        margin: 70px 0 0;
    }
    .hero-wrp img {
        height: 480px;
        object-fit: cover;
        object-position: 60%;
    }
    .hero-info {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .house-wrpper img {
        max-width: 100%;
        margin: 0 auto 15px;
    }
    .house-wrpper .house-image {
        margin: 0 0 40px;
    }
    .house-wrpper .house-block {
        padding: 0 0 60px;
    }
    .house-wrpper h4 {
        font-size: 11px;
    }
    .house-wrpper a {
        font-size: 12px;
    }
    .touch-wrpper {
        padding: 60px 0;
    }
    .touch-wrpper p {
        font-size: 16px;
    }
    .touch-wrpper p br {
        display: none;
    }
    footer .social-ic ul li {
        margin-right: 40px;
    }
    /* **** End Home Page **** */
    /* **** About **** */
    .about-banner {
        margin: 70px 0 0;
        background-color: #000;
        padding: 0 0 20px;
    }
    .about-informetion {
        padding: 0 0 10px;
    }
    .abt-dt {
        position: relative;
        right: auto;
        left: auto;
        top: auto;
        transform: unset;
        width: auto;
    }
    .abt-dt h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .informetion-info {
        padding: 25px 0;
        text-align: left;
        width: auto;
        margin-left: 0;
    }
    .informetion-info h2 {
        font-size: 26px;
        line-height: 32px;
        margin: 0 0 20px;
    }
    .beauty-wrp {
        padding: 0 0 100px;
    }
    .beauty-wrp .titlebix h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .charter-wrp h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .charter-block {
        width: auto;
    }
    .charter-block p {
        font-size: 18px;
        line-height: 26px;
        margin: 20px 0 0;
    }
    .charter-block p br {
        display: none;
    }
    .manifestations-wrp {
        padding: 50px 0 0;
    }
    .manifestation-box h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .about-transcendance .transcendance-wrp {
        padding: 60px 0;
    }
    .transcendance-wrp h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .about-transcendance .transcendance-wrp h3 {
        font-size: 16px;
        line-height: 24px;
    }
    .transcendance-block img {
        margin: 40px auto;
    }
    /* **** End About **** */
    /* **** bleue-hour **** */
    .inner-details {
        background-color: #000;
        position: relative;
        transform: unset;
        right: auto;
        left: auto;
        top: auto;
        padding: 0 0 20px;
    }
    .inner-details h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .inner-details p {
        font-size: 12px;
    }
    .prism-about .abt-img img {
        width: 100%;
    }
    .prism-about .container-fluid {
        padding: 0 15px;
    }
    .prism-about .abt-info {
        padding: 20px 0 0;
    }
    .prism-about .abt-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .prism-about {
        padding: 0 0 60px;
    }
    .info-line h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .info-line h1 br {
        display: none;
    }
    .info-line {
        padding: 50px 0 20px;
    }
    .regime-wrpper .container {
        width: auto;
        max-width: unset;
    }
    .recommends-slider .slick-slide {
        margin: 0 0;
    }
    .recommends-slider .slick-list {
        margin: 0 -0;
    }
    .regime-wrpper .nav-tabs .nav-item {
        margin: 0;
    }
    .regime-wrpper .nav-tabs {
        padding: 0 0 20px;
    }
    .regime-wrpper {
        padding: 0 0 60px;
    }
    .collection-story-wrp .story-info {
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .collection-story-wrp .container-fluid {
        padding: 0 15px;
    }
    .collection-story-wrp {
        padding: 40px 0;
    }
    .seals-blue-wrp h2 {
        font-size: 26px;
    }
    .seals-blue-wrp img {
        margin: 40px 0 0;
    }
    .explore-wrp h2 {
        font-size: 22px;
    }
    .explore-wrp h3 {
        font-size: 22px;
    }
    .benefit-wrp .container-fluid {
        padding-left: 15px;
    }
    .benefit-wrp .benefit-img img {
        margin: 0 0 20px;
    }
    .benefit-info p {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .envoking-wrp h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .envoking-block {
        padding: 40px 0 0;
    }
    .envoking-block ul:before {
        width: 100%;
        display: none;
    }
    .envoking-block ul {
        width: 100%;
        padding: 100px 0;
        background-color: rgba(196, 196, 196, 0.17);
        margin: 40px 0;
        overflow: auto;
    }
    .envoking-block ul img {
        max-width: initial;
        width: 230%;
        margin-left: 350px;
    }
    .video-block img {
        max-width: 100%;
    }
    .video-wrp .video-block a.play img {
        max-width: 50px;
    }
    .features-block .col-md-3.col-sm-3 {
        width: 50%;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px 0;
    }
    .features-block .col-md-3.col-sm-3:nth-child(2),
    .features-block .col-md-3.col-sm-3:last-child {
        border: none;
    }
    .features-block .col-md-3.col-sm-3:first-child,
    .features-block .col-md-3.col-sm-3:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .features-block {
        padding: 0;
    }
    .contact-wrp .can-help-footer ul li a {
        font-size: 14px;
    }
    .contact-wrp .can-help-footer ul li {
        margin-right: 20px;
    }
    .form-box {
        width: auto;
        margin: 0 0 20px;
    }
    .contact-wrp {
        padding: 60px 0;
    }
    /* **** End bleue-hour **** */
    /* **** breakthrough **** */
    .abt-dt h2 {
        font-size: 22px;
        margin: 15px 0 10px;
    }
    .gallery-text {
        padding: 10px 0 0;
        text-align: center;
    }
    .keyingredients-slider3 .slider-nav {
        margin: 0 0 30px;
    }
    .keyingredients-slider .slider-info p {
        font-size: 16px;
        margin: 0 0 20px;
    }
    .keyingredients-slider .slick-slide img {
        margin: 0 auto;
    }
    /* **** End breakthrough **** */
    /* **** cleansers **** */
    .creams-wrp {
        padding: 90px 0 0;
    }
    .creams-block .cream-box {
        padding: 0;
    }
    .titlebix p {
        width: auto;
    }
    .creams-block {
        padding: 40px 0 0;
    }
    .cleanser-box .luxury-info {
        padding: 20px;
    }
    .luxury-box .luxury-info h3 {
        margin: 0 0 15px;
    }
    .cream-info {
        position: relative;
        transform: unset;
        top: auto;
        margin: 15px 0 0;
    }
    /* **** End cleansers **** */
    /* **** creams **** */
    .luxury-box img {
        width: 40%;
    }
    /* **** End creams **** */
    /* **** dali-decadance **** */
    .transcendance-hero .inner-details h2 {
        color: #fff;
    }
    .transcendance-hero .inner-details p {
        color: #fff;
    }
    /* **** End dali-decadance **** */
    /* **** evidence **** */
    .evidence-heroinfo p {
        font-size: 16px;
        line-height: 26px;
    }
    .clinical-wrp {
        padding: 40px 0;
    }
    .clinical-wrp .titlebix h2 {
        font-size: 26px;
        margin: 0 0 15px;
    }
    .clinical-details {
        width: auto;
    }
    .clinical-details p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 15px;
    }
    .clinical-block {
        padding: 0 0 80px;
    }
    /* **** End evidence **** */
    /* **** ingredient-philosophy **** */
    .science-banner .abt-dt h2 {
        color: #fff;
    }
    .science-banner .abt-dt p {
        color: #fff;
    }
    .ccrt-wrpper .ccrt-block {
        padding: 0 0 40px;
    }
    .ccrt-wrpper .ccrt-block h2 {
        font-size: 22px;
        line-height: 28px;
        width: auto;
    }
    .keyingredients-slider .slider-nav {
        position: relative;
    }
    .keyingredients-slider .slider-nav h3 {
        font-size: 15px;
        line-height: 22px;
    }
    .keyingredients-slider .slick-slide img {
        max-width: 100%;
    }
    .keyingredients-block {
        padding: 25px 0 80px;
    }
    .ccrt-wrpper {
        overflow: hidden;
    }
    .keyingredients-title h2 {
        font-size: 38px;
    }
    .ccrt-wrpper .ccrt-block .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .ccrt-wrpper .ccrt-block .col-md-6.col-sm-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* **** End ingredient-philosophy **** */
    /* **** magnum-opus **** */
    .inner-hero {
        margin: 70px 0 0;
    }
    .inner-details {
        padding: 20px 0;
    }
    .collection-story-wrp .story-info p {
        margin: 0 0 15px;
    }
    .transcendance-wrp h2 br {
        display: none;
    }
    /* **** End magnum-opus **** */
    /* **** manifesto **** */
    .about-informetion {
        padding: 40px 0;
    }
    .about-informetion .product-one {
        order: 1;
    }
    .about-informetion .product-two {
        order: 2;
    }
    /* **** End manifesto **** */
    /* **** science **** */
    .cellular-block {
        width: auto;
        padding: 40px 0;
    }
    /* **** End science **** */
    /* **** time-prism **** */
    .refractions-wrp .container {
        width: auto;
        max-width: unset;
    }
    .pigmnets-wrp .pigmnets-img h2 {
        font-size: 18px;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        text-align: center;
    }
    .refractions-wrp h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .benefit-wrp {
        padding: 40px 0;
    }
    /* **** End time-prism **** */
    /* **** Product **** */
    .application-wrp .titlebar p {
        width: auto;
    }
    .prd-video-block img {
        max-width: 100%;
    }
    .product-page-wrp .about-banner .shop-dt {
        position: relative;
        background-color: transparent;
        display: block;
        width: auto;
    }
    .product-page-wrp .about-banner .shop-dt h2 {
        margin: 0 0 15px;
    }
    .product-page-wrp .about-banner .shop-dt p {
        margin: 0 0 15px;
    }
    .description-wrp:before {
        width: 100%
    }
    .product-info-bag a {
        margin: 15px 0 0;
    }
    .description-info {
        position: relative;
        z-index: 6;
    }
    .product-page-wrp .skin-wrp {
        position: relative;
        margin: 40px 0 0;
        left: auto;
        right: auto;
        bottom: auto;
    }
    .product-page-wrp .skin-wrp li {
        font-size: 14px;
    }
    .product-page-wrp .skin-wrp li span {
        font-size: 14px;
        width: 110px;
        margin-right: 10px;
    }
    .description-wrp .accordion .accordion-item .accordion-button {
        font-size: 16px;
    }
    .description-wrp .accordion .accordion-item p {
        font-size: 15px;
        line-height: 24px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs {
        position: relative;
        margin: 0 0 40px;
    }
    .ingredients-wrp .nav-tabs li {
        float: none;
    }
    .ingredients-wrp .nav-tabs li .nav-link {
        font-size: 14px;
        text-align: center!important;
        line-height: 24px;
    }
    .ingredients-wrp .nav-tabs li .nav-link br {
        display: none;
    }
    .ingredients-info p {
        width: auto;
        margin: 0 0 20px;
        font-size: 16px;
    }
    .benefits-wrp p {
        font-size: 16px;
        line-height: 24px;
    }
    .benefits-wrp p br {
        display: none;
    }
    .benefits-wrp .benefits-block {
        width: auto;
    }
    .benefits-wrp .benefits-block img {
        width: auto;
        max-width: 100%;
        margin: 40px auto 0;
    }
    .progression-wrp h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .progression-wrp p {
        font-size: 16px;
        line-height: 24px;
    }
    .progression-wrp p br {
        display: none;
    }
    .product-page-wrp .visible-box {
        width: auto;
        position: relative;
        right: auto;
        transform: unset;
        top: auto;
    }
    .product-page-wrp .visible-results .description-wrp {
        padding: 40px 15px;
    }
    .application-wrp {
        padding: 40px 0 0;
    }
    section.regime-wrpper.complex-wrpper {
        padding: 40px 0;
    }
    .product-page-wrp .envoking-wrp .envoking-block {
        padding: 40px 0 0;
    }
    .product-page-wrp .product-one {
        order: 1;
    }
    .product-page-wrp .product-two {
        order: 2;
    }
    /* **** End Product **** */
    /* **** products-4a **** */
    .about-banner .shop-dt {
        position: relative;
        width: auto;
        transform: unset;
        padding: 20px 0 0;
        left: auto;
        right: auto;
    }
    .visible-box {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        transform: unset;
        padding: 20px;
    }
    .visible-results p {
        margin: 0 0 10px;
    }
    .replenish-slider .titlebar h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .replenish-slider-box h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .replenish-slider-box p {
        font-size: 15px;
        line-height: 24px;
        width: auto;
    }
    .benefits-wrp .product-one {
        order: 1;
    }
    .benefits-wrp .product-two {
        order: 2;
    }
    /* **** products-4a **** */
    /* **** product6t **** */
    .product6t-wrp .about-banner img {
        width: 100%;
    }
    .product6t-wrp .about-banner .shop-dt {
        width: 100%;
    }
    .product6t-wrp .ingredients-wrp .nav-tabs {
        position: relative;
    }
    .product6t-wrp .visible-box {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    /* **** product6t **** */
    /* **** Mobile Menu **** */
    header {
        padding: 24px 0;
    }
    header .navbar-toggler {
        height: auto;
        width: auto;
        padding: 0;
    }
    .navigation-wrapper {
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        height: 100%;
        overflow: auto;
        padding: 80px 0 50px;
    }
    .open-navigation.navigation-wrapper {
        top: 0;
        left: 0;
    }
    .navigation-links .links-block {
        display: none;
    }
    .navigation-wrapper .accordion {
        padding: 20px 0;
        display: block;
    }
    .navigation-links .nav-tiles-wrapper {
        width: auto;
    }
    .navigation-links .nav-tiles-wrapper img {
        display: none;
    }
    .navigation-links .nav-tiles-wrapper a {
        font-size: 16px;
        display: block;
        text-align: center;
    }
    /* **** End Mobile Menu **** */
    .video-wrp .video-block {
        width: 80%;
    }
    .time-prism-hero .ds-img {
        display: none;
    }
    .time-prism-hero .mb-img {
        display: block;
    }
    .prism-about .abt-info p {
        width: auto;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .benefit-info p {
        width: auto;
    }
}

@media(min-width:448px) and (max-width:575px) {
    .envoking-circle {
        width: 250px;
        height: 250px;
    }
    /* **** Home Page **** */
    .recommend-box h2 {
        min-height: auto;
    }
    .offset-3 {
        margin: 0;
    }
    .touch-wrpper .form-group {
        width: auto;
    }
    header {
        padding: 15px 15px 0 0;
    }
    .navigation-wrapper {
        top: -120%;
    }
    .open-navigation.navigation-wrapper {
        top: 70px;
    }
    .search-bar .form-group {
        width: auto;
    }
    .hero-wrp {
        margin: 70px 0 0;
    }
    .hero-wrp img {
        height: 480px;
        object-fit: cover;
        object-position: 60%;
    }
    .hero-info {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .product-box .product-img img {
        width: auto;
    }
    .prd-info.left-info {
        position: relative;
        left: auto;
        right: auto;
        transform: unset;
        margin: 20px auto 0;
        top: auto;
        display: block;
        text-align: center;
    }
    .prd-info.right-info {
        position: relative;
        left: auto;
        right: auto;
        transform: unset;
        margin: 20px auto 0;
        top: auto;
        display: block;
        text-align: center;
    }
    .product-box .product-img img {
        max-width: auto;
        width: 100%;
        margin: 0;
    }
    .last-box.product-box .product-img img {
        max-width: 100%;
        width: 100%;
    }
    .house-wrpper img {
        max-width: 100%;
        margin: 0 auto 15px;
    }
    .house-wrpper .house-image {
        margin: 0 0 40px;
    }
    .house-wrpper .house-block {
        padding: 0 0 60px;
    }
    .touch-wrpper {
        padding: 60px 0;
    }
    .touch-wrpper p {
        font-size: 16px;
    }
    .touch-wrpper p br {
        display: none;
    }
    footer .social-ic ul li {
        margin-right: 40px;
    }
    /* **** End Home Page **** */
    /* **** About **** */
    .about-banner {
        margin: 70px 0 0;
        background-color: #000;
        padding: 0 0 20px;
    }
    .about-informetion {
        padding: 0 0 10px;
    }
    .abt-dt {
        position: relative;
        right: auto;
        left: auto;
        top: auto;
        transform: unset;
        width: auto;
    }
    .abt-dt h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .informetion-info {
        padding: 25px 0;
        text-align: left;
        width: auto;
        margin-left: 0;
    }
    .informetion-info h2 {
        font-size: 26px;
        line-height: 32px;
        margin: 0 0 20px;
    }
    .beauty-wrp {
        padding: 0 0 100px;
    }
    .beauty-wrp .titlebix h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .charter-wrp h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .charter-block {
        width: auto;
    }
    .charter-block p {
        font-size: 18px;
        line-height: 26px;
        margin: 20px 0 0;
    }
    .charter-block p br {
        display: none;
    }
    .manifestations-wrp {
        padding: 50px 0 0;
    }
    .manifestation-box h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .about-transcendance .transcendance-wrp {
        padding: 60px 0;
    }
    .transcendance-wrp h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .about-transcendance .transcendance-wrp h3 {
        font-size: 16px;
        line-height: 24px;
    }
    .transcendance-block img {
        margin: 40px auto;
    }
    /* **** End About **** */
    /* **** bleue-hour **** */
    .inner-details {
        background-color: #000;
        position: relative;
        transform: unset;
        right: auto;
        left: auto;
        top: auto;
        padding: 0 0 20px;
    }
    .inner-details h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .inner-details p {
        font-size: 12px;
    }
    .prism-about .abt-img img {
        width: 100%;
    }
    .prism-about .container-fluid {
        padding: 0 15px;
    }
    .prism-about .abt-info {
        padding: 20px 0 0;
    }
    .prism-about .abt-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .prism-about {
        padding: 0 0 60px;
    }
    .info-line h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .info-line h1 br {
        display: none;
    }
    .info-line {
        padding: 50px 0 20px;
    }
    .regime-wrpper .container {
        width: auto;
        max-width: unset;
    }
    .recommends-slider .slick-slide {
        margin: 0 0;
    }
    .recommends-slider .slick-list {
        margin: 0 -0;
    }
    .regime-wrpper .nav-tabs .nav-item {
        margin: 0;
    }
    .regime-wrpper .nav-tabs {
        padding: 0 0 20px;
    }
    .regime-wrpper {
        padding: 0 0 60px;
    }
    .collection-story-wrp .story-info {
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .collection-story-wrp .container-fluid {
        padding: 0 15px;
    }
    .collection-story-wrp {
        padding: 40px 0;
    }
    .seals-blue-wrp h2 {
        font-size: 26px;
    }
    .seals-blue-wrp img {
        margin: 40px 0 0;
    }
    .explore-wrp h2 {
        font-size: 22px;
    }
    .explore-wrp h3 {
        font-size: 22px;
    }
    .benefit-wrp .container-fluid {
        padding-left: 15px;
    }
    .benefit-wrp .benefit-img img {
        margin: 0 0 20px;
    }
    .benefit-info p {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .envoking-wrp h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .envoking-block {
        padding: 40px 0 0;
    }
    .envoking-block ul:before {
        width: 100%;
        display: none;
    }
    .envoking-block ul {
        width: 100%;
        padding: 100px 0;
        background-color: rgba(196, 196, 196, 0.17);
        margin: 40px 0;
        overflow: auto;
    }
    .envoking-block ul img {
        max-width: initial;
        width: 230%;
        margin-left: 350px;
    }
    .video-block img {
        max-width: 100%;
    }
    .video-wrp .video-block a.play img {
        max-width: 50px;
    }
    .features-block .col-md-3.col-sm-3 {
        width: 50%;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px 0;
    }
    .features-block .col-md-3.col-sm-3:nth-child(2),
    .features-block .col-md-3.col-sm-3:last-child {
        border: none;
    }
    .features-block .col-md-3.col-sm-3:first-child,
    .features-block .col-md-3.col-sm-3:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .features-block {
        padding: 0;
    }
    .contact-wrp .can-help-footer ul li a {
        font-size: 14px;
    }
    .contact-wrp .can-help-footer ul li {
        margin-right: 20px;
    }
    .form-box {
        width: auto;
        margin: 0 0 20px;
    }
    .contact-wrp {
        padding: 60px 0;
    }
    /* **** End bleue-hour **** */
    /* **** breakthrough **** */
    .abt-dt h2 {
        font-size: 22px;
        margin: 15px 0 10px;
    }
    .gallery-text {
        padding: 10px 0 0;
        text-align: center;
    }
    .keyingredients-slider3 .slider-nav {
        margin: 0 0 30px;
    }
    .keyingredients-slider .slider-info p {
        font-size: 16px;
        margin: 0 0 20px;
    }
    /* **** End breakthrough **** */
    /* **** cleansers **** */
    .creams-wrp {
        padding: 90px 0 0;
    }
    .titlebix p {
        width: auto;
    }
    .creams-block {
        padding: 40px 0 0;
    }
    .cream-info {
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }
    .cleanser-box .luxury-info {
        padding: 20px;
    }
    .luxury-box .luxury-info h3 {
        margin: 0 0 15px;
    }
    /* **** End cleansers **** */
    /* **** creams **** */
    .luxury-box {
        display: block;
    }
    .luxury-box .luxury-info {
        padding: 20px 0 40px;
    }
    /* **** End creams **** */
    /* **** dali-decadance **** */
    .transcendance-hero .inner-details h2 {
        color: #fff;
    }
    .transcendance-hero .inner-details p {
        color: #fff;
    }
    /* **** End dali-decadance **** */
    /* **** evidence **** */
    .evidence-heroinfo p {
        font-size: 16px;
        line-height: 26px;
    }
    .clinical-wrp {
        padding: 40px 0;
    }
    .clinical-wrp .titlebix h2 {
        font-size: 26px;
        margin: 0 0 15px;
    }
    .clinical-details {
        width: auto;
        text-align: center;
        margin: 15px 0 0;
    }
    .clinical-block {
        padding: 0 0 40px;
    }
    .clinical-right .clinical-details {
        text-align: center;
    }
    .product-one {
        order: 1;
    }
    .product-two {
        order: 2;
    }
    /* **** End evidence **** */
    /* **** ingredient-philosophy **** */
    .science-banner .abt-dt h2 {
        color: #fff;
    }
    .science-banner .abt-dt p {
        color: #fff;
    }
    .ccrt-wrpper .ccrt-block {
        padding: 0 0 40px;
    }
    .ccrt-wrpper .ccrt-block h2 {
        font-size: 22px;
        line-height: 28px;
        width: auto;
    }
    .keyingredients-slider .slider-nav {
        position: relative;
    }
    .keyingredients-slider .slider-nav h3 {
        font-size: 15px;
        line-height: 22px;
    }
    .keyingredients-slider .slick-slide img {
        max-width: 100%;
    }
    .keyingredients-block {
        padding: 25px 0 80px;
    }
    .ccrt-wrpper .ccrt-block .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .ccrt-wrpper {
        overflow: hidden;
    }
    .keyingredients-title h2 {
        font-size: 38px;
    }
    .ccrt-wrpper .ccrt-block .col-md-6.col-sm-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* **** End ingredient-philosophy **** */
    /* **** magnum-opus **** */
    .inner-hero {
        margin: 70px 0 0;
    }
    .inner-details {
        padding: 20px 0;
    }
    .collection-story-wrp .story-info p {
        margin: 0 0 15px;
    }
    .transcendance-wrp h2 br {
        display: none;
    }
    /* **** End magnum-opus **** */
    /* **** manifesto **** */
    .about-informetion {
        padding: 40px 0;
    }
    /* **** End manifesto **** */
    /* **** science **** */
    .cellular-block {
        width: auto;
        padding: 40px 0;
    }
    /* **** End science **** */
    /* **** time-prism **** */
    .refractions-wrp .container {
        width: auto;
        max-width: unset;
    }
    .pigmnets-wrp .pigmnets-img h2 {
        font-size: 18px;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        text-align: center;
    }
    .refractions-wrp h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .benefit-wrp {
        padding: 40px 0;
    }
    /* **** End time-prism **** */
    /* **** Product **** */
    .application-wrp .titlebar p {
        width: auto;
    }
    .prd-video-block img {
        max-width: 100%;
    }
    .product-page-wrp .about-banner .shop-dt {
        position: relative;
        background-color: transparent;
        display: block;
        width: auto;
    }
    .product-page-wrp .about-banner .shop-dt h2 {
        margin: 0 0 15px;
    }
    .product-page-wrp .about-banner .shop-dt p {
        margin: 0 0 15px;
    }
    .description-wrp:before {
        width: 100%
    }
    .product-info-bag a {
        margin: 15px 0 0;
    }
    .description-info {
        position: relative;
        z-index: 6;
    }
    .product-page-wrp .skin-wrp {
        position: relative;
        margin: 40px 0 0;
        left: auto;
        right: auto;
        bottom: auto;
    }
    .product-page-wrp .skin-wrp li {
        font-size: 14px;
    }
    .product-page-wrp .skin-wrp li span {
        font-size: 14px;
        width: 110px;
        margin-right: 10px;
    }
    .description-wrp .accordion .accordion-item .accordion-button {
        font-size: 16px;
    }
    .description-wrp .accordion .accordion-item p {
        font-size: 15px;
        line-height: 24px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs {
        position: relative;
        display: block;
        margin: 0 0 20px;
    }
    .ingredients-wrp .nav-tabs li {
        width: 100%;
    }
    .ingredients-wrp .nav-tabs li .nav-link {
        font-size: 16px;
        text-align: left !important;
    }
    .ingredients-wrp .nav-tabs li .nav-link br {
        display: none;
    }
    .ingredients-info p {
        width: auto;
        margin: 0 0 20px;
        font-size: 16px;
    }
    .benefits-wrp p {
        font-size: 16px;
        line-height: 24px;
    }
    .benefits-wrp p br {
        display: none;
    }
    .benefits-wrp .benefits-block {
        width: auto;
    }
    .benefits-wrp .benefits-block img {
        width: auto;
        max-width: 100%;
        margin: 40px auto 0;
    }
    .progression-wrp h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .progression-wrp p {
        font-size: 16px;
        line-height: 24px;
    }
    .progression-wrp p br {
        display: none;
    }
    .product-page-wrp .visible-box {
        width: auto;
        position: relative;
        right: auto;
        transform: unset;
        top: auto;
    }
    .product-page-wrp .visible-results .description-wrp {
        padding: 40px 15px;
    }
    .application-wrp {
        padding: 40px 0 0;
    }
    section.regime-wrpper.complex-wrpper {
        padding: 40px 0;
    }
    .product-page-wrp .envoking-wrp .envoking-block {
        padding: 40px 0 0;
    }
    /* **** End Product **** */
    /* **** products-4a **** */
    .about-banner .shop-dt {
        position: relative;
        width: auto;
        transform: unset;
        padding: 20px 0 0;
        left: auto;
        right: auto;
    }
    .visible-box {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        transform: unset;
        padding: 20px;
    }
    .visible-results p {
        margin: 0 0 10px;
    }
    .replenish-slider .titlebar h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .replenish-slider-box h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .replenish-slider-box p {
        font-size: 15px;
        line-height: 24px;
        width: auto;
    }
    /* **** products-4a **** */
    /* **** product6t **** */
    .product6t-wrp .about-banner img {
        width: 100%;
    }
    .product6t-wrp .about-banner .shop-dt {
        width: 100%;
    }
    .product6t-wrp .ingredients-wrp .nav-tabs {
        position: relative;
    }
    .product6t-wrp .visible-box {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    /* **** product6t **** */
    /* **** Mobile Menu **** */
    header {
        padding: 24px 0;
    }
    header .navbar-toggler {
        height: auto;
        width: auto;
        padding: 0;
    }
    .navigation-wrapper {
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        height: 100%;
        overflow: auto;
        padding: 80px 0 50px;
    }
    .open-navigation.navigation-wrapper {
        top: 0;
        left: 0;
    }
    .navigation-links .links-block {
        display: none;
    }
    .navigation-wrapper .accordion {
        padding: 20px 0;
        display: block;
    }
    .navigation-links .nav-tiles-wrapper {
        width: auto;
    }
    .navigation-links .nav-tiles-wrapper img {
        display: none;
    }
    .navigation-links .nav-tiles-wrapper a {
        font-size: 16px;
    }
    /* **** End Mobile Menu **** */
    .video-wrp .video-block {
        width: 100%;
    }
    .time-prism-hero .ds-img {
        display: none;
    }
    .time-prism-hero .mb-img {
        display: block;
    }
    .prism-about .abt-info p {
        width: auto;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .benefit-info p {
        width: auto;
    }
}

@media(max-width:447px) {
    /* **** Home Page **** */
    .offset-3 {
        margin: 0;
    }
    .touch-wrpper .form-group {
        width: auto;
    }
    header {
        padding: 10px;
    }
    .open-navigation.navigation-wrapper {
        top: 70px;
    }
    .search-bar .form-group {
        width: auto;
    }
    .hero-wrp {
        margin: 70px 0 0;
    }
    .hero-wrp img {
        height: 480px;
        object-fit: cover;
        object-position: 60%;
    }
    .hero-info {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .product-box .product-img img {
        width: auto;
    }
    .prd-info.left-info {
        position: relative;
        left: auto;
        right: auto;
        transform: unset;
        margin: 20px auto 0;
        top: auto;
        display: block;
        text-align: center;
    }
    .prd-info.right-info {
        position: relative;
        left: auto;
        right: auto;
        transform: unset;
        margin: 20px auto 0;
        top: auto;
        display: block;
        text-align: center;
    }
    .product-box .product-img img {
        max-width: auto;
        width: 100%;
        margin: 0;
    }
    .last-box.product-box .product-img img {
        max-width: 100%;
        width: 100%;
    }
    .house-wrpper img {
        max-width: 100%;
        margin: 0 auto 15px;
    }
    .house-wrpper .house-image {
        margin: 0 0 40px;
    }
    .house-wrpper .house-block {
        padding: 0 0 60px;
    }
    .touch-wrpper {
        padding: 60px 0;
    }
    .touch-wrpper p {
        font-size: 16px;
    }
    .touch-wrpper p br {
        display: none;
    }
    footer .social-ic ul li {
        margin-right: 40px;
    }
    .recommend-box h2 {
        min-height: auto;
    }
    /* **** End Home Page **** */
    /* **** About **** */
    .about-banner {
        margin: 70px 0 0;
        background-color: #000;
        padding: 0 0 20px;
    }
    .about-informetion {
        padding: 0 0 10px;
    }
    .abt-dt {
        position: relative;
        right: auto;
        left: auto;
        top: auto;
        transform: unset;
        width: auto;
    }
    .abt-dt h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .informetion-info {
        padding: 25px 0;
        text-align: left;
        width: auto;
        margin-left: 0;
    }
    .informetion-info h2 {
        font-size: 26px;
        line-height: 32px;
        margin: 0 0 20px;
    }
    .beauty-wrp {
        padding: 0 0 100px;
    }
    .beauty-wrp .titlebix h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .charter-wrp h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .charter-block {
        width: auto;
    }
    .charter-block p {
        font-size: 18px;
        line-height: 26px;
        margin: 20px 0 0;
    }
    .charter-block p br {
        display: none;
    }
    .manifestations-wrp {
        padding: 50px 0 0;
    }
    .manifestation-box h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .about-transcendance .transcendance-wrp {
        padding: 60px 0;
    }
    .transcendance-wrp h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .about-transcendance .transcendance-wrp h3 {
        font-size: 16px;
        line-height: 24px;
    }
    .transcendance-block img {
        margin: 40px auto;
    }
    /* **** End About **** */
    /* **** bleue-hour **** */
    .inner-details {
        background-color: #000;
        position: relative;
        transform: unset;
        right: auto;
        left: auto;
        top: auto;
        padding: 0 0 20px;
    }
    .inner-details h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .inner-details p {
        font-size: 12px;
    }
    .prism-about .abt-img img {
        width: 100%;
    }
    .prism-about .container-fluid {
        padding: 0 15px;
    }
    .prism-about .abt-info {
        padding: 20px 0 0;
    }
    .prism-about .abt-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .prism-about {
        padding: 0 0 60px;
    }
    .info-line h1 {
        font-size: 20px;
        line-height: 26px;
    }
    .info-line h1 br {
        display: none;
    }
    .info-line {
        padding: 50px 0 20px;
    }
    .regime-wrpper .container {
        width: auto;
        max-width: unset;
    }
    .recommends-slider .slick-slide {
        margin: 0 0;
    }
    .recommends-slider .slick-list {
        margin: 0 -0;
    }
    .regime-wrpper .nav-tabs .nav-item {
        margin: 0;
    }
    .regime-wrpper .nav-tabs {
        padding: 0 0 20px;
    }
    .regime-wrpper {
        padding: 0 0 60px;
    }
    .collection-story-wrp .story-info {
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .collection-story-wrp .container-fluid {
        padding: 0 15px;
    }
    .collection-story-wrp {
        padding: 40px 0;
    }
    .seals-blue-wrp h2 {
        font-size: 26px;
    }
    .seals-blue-wrp img {
        margin: 40px 0 0;
    }
    .explore-wrp h2 {
        font-size: 22px;
    }
    .explore-wrp h3 {
        font-size: 22px;
    }
    .benefit-wrp .container-fluid {
        padding-left: 15px;
    }
    .benefit-wrp .benefit-img img {
        margin: 0 0 20px;
    }
    .benefit-info p {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .envoking-wrp h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .envoking-block {
        padding: 40px 0 0;
    }
    .envoking-block ul:before {
        width: 100%;
        display: none;
    }
    .envoking-block ul {
        width: 100%;
        padding: 100px 0;
        background-color: rgba(196, 196, 196, 0.17);
        margin: 40px 0;
        overflow: auto;
    }
    .envoking-block ul img {
        max-width: initial;
        width: 230%;
        margin-left: 350px;
    }
    .video-block img {
        max-width: 100%;
    }
    .video-wrp .video-block a.play img {
        max-width: 50px;
    }
    .features-block .col-md-3.col-sm-3 {
        width: 50%;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding: 20px 0;
    }
    .features-block .col-md-3.col-sm-3:nth-child(2),
    .features-block .col-md-3.col-sm-3:last-child {
        border: none;
    }
    .features-block .col-md-3.col-sm-3:first-child,
    .features-block .col-md-3.col-sm-3:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .features-block {
        padding: 0;
    }
    .contact-wrp .can-help-footer ul li a {
        font-size: 14px;
    }
    .contact-wrp .can-help-footer ul li {
        margin-right: 20px;
    }
    .form-box {
        width: auto;
        margin: 0 0 20px;
    }
    .contact-wrp {
        padding: 60px 0;
    }
    /* **** End bleue-hour **** */
    /* **** breakthrough **** */
    .abt-dt h2 {
        font-size: 22px;
        margin: 15px 0 10px;
    }
    .gallery-text {
        padding: 10px 0 0;
        text-align: center;
    }
    .keyingredients-slider3 .slider-nav {
        margin: 0 0 30px;
    }
    .keyingredients-slider .slider-info p {
        font-size: 16px;
        margin: 0 0 20px;
    }
    /* **** End breakthrough **** */
    /* **** cleansers **** */
    .creams-wrp {
        padding: 90px 0 0;
    }
    .titlebix p {
        width: auto;
    }
    .creams-block {
        padding: 40px 0 0;
    }
    .cream-info {
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }
    .cleanser-box .luxury-info {
        padding: 20px;
    }
    .luxury-box .luxury-info h3 {
        margin: 0 0 15px;
    }
    /* **** End cleansers **** */
    /* **** creams **** */
    .luxury-box {
        display: block;
    }
    .luxury-box .luxury-info {
        padding: 20px 0 40px;
    }
    /* **** End creams **** */
    /* **** dali-decadance **** */
    .transcendance-hero .inner-details h2 {
        color: #fff;
    }
    .transcendance-hero .inner-details p {
        color: #fff;
    }
    /* **** End dali-decadance **** */
    /* **** evidence **** */
    .evidence-heroinfo p {
        font-size: 16px;
        line-height: 26px;
    }
    .clinical-wrp {
        padding: 40px 0;
    }
    .clinical-wrp .titlebix h2 {
        font-size: 26px;
        margin: 0 0 15px;
    }
    .clinical-details {
        width: auto;
        text-align: center;
        margin: 15px 0 0;
    }
    .clinical-block {
        padding: 0 0 40px;
    }
    .clinical-right .clinical-details {
        text-align: center;
    }
    .product-one {
        order: 1;
    }
    .product-two {
        order: 2;
    }
    /* **** End evidence **** */
    /* **** ingredient-philosophy **** */
    .science-banner .abt-dt h2 {
        color: #fff;
    }
    .science-banner .abt-dt p {
        color: #fff;
    }
    .ccrt-wrpper .ccrt-block {
        padding: 0 0 40px;
    }
    .ccrt-wrpper .ccrt-block h2 {
        font-size: 22px;
        line-height: 28px;
        width: auto;
    }
    .keyingredients-slider .slider-nav {
        position: relative;
    }
    .keyingredients-slider .slider-nav h3 {
        font-size: 13px;
        line-height: 22px;
        width: 80%;
    }
    .keyingredients-slider .slick-slide img {
        max-width: 100%;
    }
    .keyingredients-block {
        padding: 25px 0 80px;
    }
    .ccrt-wrpper .ccrt-block .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .ccrt-wrpper {
        overflow: hidden;
    }
    .keyingredients-title h2 {
        font-size: 38px;
    }
    .ccrt-wrpper .ccrt-block .col-md-6.col-sm-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* **** End ingredient-philosophy **** */
    /* **** magnum-opus **** */
    .inner-hero {
        margin: 70px 0 0;
    }
    .inner-details {
        padding: 20px 0;
    }
    .collection-story-wrp .story-info p {
        margin: 0 0 15px;
    }
    .transcendance-wrp h2 br {
        display: none;
    }
    /* **** End magnum-opus **** */
    /* **** manifesto **** */
    .about-informetion {
        padding: 40px 0;
    }
    /* **** End manifesto **** */
    /* **** science **** */
    .cellular-block {
        width: auto;
        padding: 40px 0;
    }
    /* **** End science **** */
    /* **** time-prism **** */
    .refractions-wrp .container {
        width: auto;
        max-width: unset;
    }
    .pigmnets-wrp .pigmnets-img h2 {
        font-size: 18px;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        text-align: center;
    }
    .refractions-wrp h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .benefit-wrp {
        padding: 40px 0;
    }
    /* **** End time-prism **** */
    /* **** Product **** */
    .application-wrp .titlebar p {
        width: auto;
    }
    .prd-video-block img {
        max-width: 100%;
    }
    .product-page-wrp .about-banner .shop-dt {
        position: relative;
        background-color: transparent;
        display: block;
        width: auto;
    }
    .product-page-wrp .about-banner .shop-dt h2 {
        margin: 0 0 15px;
    }
    .product-page-wrp .about-banner .shop-dt p {
        margin: 0 0 15px;
    }
    .description-wrp:before {
        width: 100%
    }
    .product-info-bag a {
        margin: 15px 0 0;
    }
    .description-info {
        position: relative;
        z-index: 6;
    }
    .product-page-wrp .skin-wrp {
        position: relative;
        margin: 40px 0 0;
        left: auto;
        right: auto;
        bottom: auto;
    }
    .product-page-wrp .skin-wrp li {
        font-size: 14px;
    }
    .product-page-wrp .skin-wrp li span {
        font-size: 14px;
        width: 110px;
        margin-right: 10px;
    }
    .description-wrp .accordion .accordion-item .accordion-button {
        font-size: 16px;
    }
    .description-wrp .accordion .accordion-item p {
        font-size: 15px;
        line-height: 24px;
    }
    .product-page-wrp .ingredients-wrp .nav-tabs {
        position: relative;
        display: block;
        margin: 0 0 20px;
    }
    .ingredients-wrp .nav-tabs li {
        width: 100%;
    }
    .ingredients-wrp .nav-tabs li .nav-link {
        font-size: 16px;
        text-align: left !important;
    }
    .ingredients-wrp .nav-tabs li .nav-link br {
        display: none;
    }
    .ingredients-info p {
        width: auto;
        margin: 0 0 20px;
        font-size: 16px;
    }
    .benefits-wrp p {
        font-size: 16px;
        line-height: 24px;
    }
    .benefits-wrp p br {
        display: none;
    }
    .benefits-wrp .benefits-block {
        width: auto;
    }
    .benefits-wrp .benefits-block img {
        width: auto;
        max-width: 100%;
        margin: 40px auto 0;
    }
    .progression-wrp h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .progression-wrp p {
        font-size: 16px;
        line-height: 24px;
    }
    .progression-wrp p br {
        display: none;
    }
    .product-page-wrp .visible-box {
        width: auto;
        position: relative;
        right: auto;
        transform: unset;
        top: auto;
    }
    .product-page-wrp .visible-results .description-wrp {
        padding: 40px 15px;
    }
    .application-wrp {
        padding: 40px 0 0;
    }
    section.regime-wrpper.complex-wrpper {
        padding: 40px 0;
    }
    .product-page-wrp .envoking-wrp .envoking-block {
        padding: 40px 0 0;
    }
    /* **** End Product **** */
    /* **** products-4a **** */
    .about-banner .shop-dt {
        position: relative;
        width: auto;
        transform: unset;
        padding: 20px 0 0;
        left: auto;
        right: auto;
    }
    .visible-box {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        transform: unset;
        padding: 20px;
    }
    .visible-results p {
        margin: 0 0 10px;
    }
    .replenish-slider .titlebar h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .replenish-slider-box h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .replenish-slider-box p {
        font-size: 15px;
        line-height: 24px;
        width: auto;
    }
    /* **** products-4a **** */
    /* **** product6t **** */
    .product6t-wrp .about-banner img {
        width: 100%;
    }
    .product6t-wrp .about-banner .shop-dt {
        width: 100%;
    }
    .product6t-wrp .ingredients-wrp .nav-tabs {
        position: relative;
    }
    .product6t-wrp .visible-box {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    /* **** product6t **** */
    /* **** Mobile Menu **** */
    header {
        padding: 24px 0;
    }
    header .navbar-toggler {
        height: auto;
        width: auto;
        padding: 0;
    }
    .navigation-wrapper {
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        height: 100%;
        overflow: auto;
        padding: 80px 0 50px;
    }
    .open-navigation.navigation-wrapper {
        top: 0;
        left: 0;
    }
    .navigation-links .links-block {
        display: none;
    }
    .navigation-wrapper .accordion {
        padding: 20px 0;
        display: block;
    }
    .navigation-links .nav-tiles-wrapper {
        width: auto;
    }
    .navigation-links .nav-tiles-wrapper img {
        display: none;
    }
    .navigation-links .nav-tiles-wrapper a {
        font-size: 16px;
    }
    /* **** End Mobile Menu **** */
    .video-wrp .video-block {
        width: auto;
    }
    .time-prism-hero .ds-img {
        display: none;
    }
    .time-prism-hero .mb-img {
        display: block;
    }
    .prism-about .abt-info p {
        width: auto;
    }
    .collection-story-wrp .story-info {
        width: auto;
    }
    .benefit-info p {
        width: auto;
    }
    .envoking-circle {
        width: 250px;
        height: 250px;
    }
}