@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeue-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeueRegular.woff2") format("woff2"), url("../fonts/HelveticaNeueRegular.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    scroll-behavior: initial;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    background: #2f3335;
    height: 100%;
    width: 100%;
}

a {
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1066px;
}

.main-wrpper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* **** Header **** */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2f3335;
    z-index: 120;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    padding: 35px 16px;
}

header .row {
    display: flex;
    align-items: center;
}

header .row .col-md-4.col-sm-4 {
    width: 33.33%;
}

header .navbar-toggler {
    float: none;
    border: none;
    padding-right: 0;
    position: relative;
    padding: 0;
    height: 40px;
    width: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler .navbar-toggler-icon {
    width: 20px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear;
}

.navbar-toggler-icon:after,
.navbar-toggler-icon:before {
    width: 20px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-toggler-icon:after {
    width: 10px;
}

.navbar-toggler-icon:after {
    top: 8px;
}

header .logo-img img {
    max-width: 100%;
    margin: 0 auto;
}

header .globe-ic a {
    display: table;
    margin-left: auto;
    margin-top: 0;
}


/* **** End Header **** */


/* **** navigation-wrapper **** */

.add-fix.open-navigation {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
}

.navbar-toggler-icon.open-navigation:after {
    transform: rotate(45deg);
    width: 20px;
}

.navbar-toggler-icon.open-navigation:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler-icon.open-navigation {
    border-color: transparent;
}

.navigation-wrapper {
    height: auto;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    padding: 0 0 50px;
    background: #2f3335;
    z-index: 110;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.open-navigation.navigation-wrapper {
    top: 110px;
}

.search-bar .form-group {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.search-bar .form-group button {
    position: absolute;
    top: 50%;
    right: 15px;
    box-shadow: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #fff;
    padding: 0;
    border: none;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.search-bar .form-control {
    background: 0 0;
    border: 1px solid #b5b5b5;
    height: auto;
    padding: 8px 45px 8px 15px;
    width: 100%;
    color: #b5b5b5;
    font-size: 16px;
    line-height: 26px;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}

.navigation-links .links-block {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navigation-links .links-block .link-box {
    width: 25%;
    padding: 0 15px;
}

.navigation-links .links-block .link-box h3 {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    margin: 0 0 15px;
    padding: 0 0 15px;
    position: relative;
}

.navigation-links .links-block .link-box h3:before {
    position: absolute;
    left: 0;
    width: 50px;
    height: 1px;
    background: #fff;
    opacity: 0.6;
    bottom: 0;
    content: "";
}

.navigation-links .links-block .link-box ul li a {
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    display: block;
    padding: 5px 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navigation-links .links-block .link-box ul li a:hover {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
}

.navigation-links .nav-tiles-wrapper {
    width: 60%;
    margin: 0 auto;
}

.navigation-links .nav-tiles-wrapper a {
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    display: block;
    padding: 5px 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navigation-links .nav-tiles-wrapper img {
    max-width: 80%;
    margin: 0 0 10px;
}


/* **** End navigation-wrapper **** */


/* **** hero-wrp **** */

.hero-wrp {
    position: relative;
    margin: 110px 0 0;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
}

.hero-wrp img {
    width: 100%;
}

.hero-info {
    position: absolute;
    left: 65px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.hero-info h1 {
    font-weight: 200;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    display: table;
    text-align: center;
    margin: 0;
}


/* **** sticky **** */

.nav-new {
    position: fixed;
}

section.hero-wrp.new-hero {
    background-attachment: fixed;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.4;
}


/* **** End sticky **** */


/* **** End hero-wrp **** */

.btn-main {
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 12px 23px;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    display: table;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.btn-main:hover {
    background-color: #fff;
    color: #000;
}


/* **** Product **** */

.product-wrp {
    margin-top: -100px;
    padding: 0 0 100px;
}

.product-box {
    position: relative;
    margin: 0 0 63px;
}

.product-box.first-box {
    margin: 0 0 40px;
}

.last-box.product-box {
    margin: 0;
}

.last-box.product-box .product-img img {
    width: 80%;
}

.product-box .product-img img {
    width: 60%;
    margin: 0 auto;
}

.product-box .btn-main {
    margin: 16px auto 0;
}

.prd-info {
    text-align: center;
    margin: 17px auto 0;
    display: table;
}

.prd-info.left-info {
    text-align: right;
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.prd-info.right-info {
    text-align: left;
    position: absolute;
    margin: 0;
    top: 50%;
    right: 0;
    left: auto;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.prd-info p {
    font-weight: 200;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.55px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 0 21px;
}

.prd-info h2 {
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.second-product .product-img img {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
}

.last-product .product-img img {
    width: 80%;
    margin-left: 0;
    margin-right: auto;
}


/* **** End Product **** */


/* **** titlebar **** */

.titlebar h2 {
    font-weight: 200;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 36px;
    text-align: center;
}

.house-wrpper .house-block {
    padding: 0 0 132px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.house-wrpper p {
    font-weight: 200;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 10px;
}

.house-wrpper img {
    margin: 0 auto 34px;
    max-width: 100%;
}

.house-wrpper h4 {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 15px;
}

.house-wrpper a {
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    padding: 0 0 5px;
}


/* **** End titlebar **** */


/* **** STAY IN TOUCH **** */

.touch-wrpper {
    padding: 150px 0 110px;
}

.touch-wrpper h2 {
    font-weight: 200;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 18px;
}

.touch-wrpper p {
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin: 0 0 60px;
}

.touch-wrpper .form-group {
    position: relative;
    width: 350px;
    margin: 0 auto;
}

.touch-wrpper .form-group button {
    position: absolute;
    top: 40%;
    right: 0;
    box-shadow: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    padding: 0;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    border: none;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.touch-wrpper .form-control {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #6a6d6e;
    height: auto;
    padding: 0 40px 10px 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #969696;
}


/* **** END STAY IN TOUCH **** */


/* **** Footer **** */

footer {
    background: #fff;
    padding: 95px 0 60px;
    color: #2f3335;
}

footer .nav-links {
    margin: 0 0 18px;
}

footer .nav-links li a {
    display: block;
    width: 100%;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #2f3335;
    border-bottom: 1px solid #b5b5b5;
    padding: 8px 0;
}

footer .social-ic ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px;
}

footer .social-ic ul li {
    margin-right: 51px;
}

footer .social-ic ul li:last-child {
    margin: 0;
}

footer .social-ic ul a {
    height: 40px;
    width: 40px;
    background: #2f3335;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

footer p {
    font-weight: 200;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #696d6e;
    margin: 0;
}


/* **** End Footer *** */


/* **** inner-hero **** */

.inner-hero {
    position: relative;
    margin-top: 110px;
}

.inner-hero img {
    width: 100%;
    max-width: 100%;
}

.inner-details {
    position: absolute;
    right: 20%;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}

.inner-details h2 {
    font-weight: 200;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 20px;
}

.inner-details p {
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #b5b5b5;
    margin: 0;
}


/* **** End inner-hero **** */


/* **** prism-about **** */

.prism-about {
    overflow: hidden;
    padding: 0 0 135px;
    background: #5e5e5e;
}

.prism-about .container-fluid {
    padding-left: 0;
    padding-right: 18px;
}

.prism-about .row {
    display: flex;
    align-items: center;
}

.prism-about .abt-img img {
    width: 100%;
}

.prism-about .abt-info {
    padding: 80px 0 0;
}

.prism-about .abt-info h2 {
    font-weight: 200;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 5px;
}

.prism-about .abt-info p {
    font-weight: 200;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin: 0 0 41px;
}

.prism-about .abt-info a {
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    padding: 0 0 5px;
}

.info-line {
    padding: 54px 0 17px;
}

.info-line h1 {
    font-weight: 200;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.cummings p {
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}


/* **** End prism-about **** */


/* **** LIGHT PRISM REGIME **** */

.regime-wrpper {
    background: #5e5e5e;
    padding: 0 0 107px;
}

.regime-wrpper .container {
    width: 1170px;
    max-width: 1170px;
}

.regime-wrpper .titlebar h2 {
    margin: 0 0 15px;
}

.regime-wrpper .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0 0 100px;
}

.regime-wrpper .nav-tabs .nav-item {
    margin-right: 20px;
}

.regime-wrpper .nav-tabs .nav-item:last-child {
    margin: 0;
}

.regime-wrpper .nav-tabs .nav-link {
    margin: 0;
    border-radius: 0;
    background: transparent;
    border: none;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #ffffff;
    position: relative;
    padding: 0 10px 10px;
}

.regime-wrpper .nav-tabs .nav-link:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    background: #fff;
    bottom: 0;
    width: 0;
    left: 50%;
    right: 50%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.nav-tabs .nav-item.show .nav-link:before,
.nav-tabs .nav-link.active:before,
.regime-wrpper .nav-tabs .nav-link:hover:before {
    left: 0;
    right: 0;
    width: 100%;
}


/* **** END LIGHT PRISM REGIME **** */


/* **** recommends-slider **** */

.recommends-slider {
    padding: 80px 0 0;
}

.recommend-box h5 {
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin: 0 0 15px;
}

.recommend-box h5 span {
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0;
    margin-right: 8px;
}

.recommend-box img {
    max-width: 100%;
    margin: 0 auto 15px;
    display: table;
}

.recommend-box h2 {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 20px;
    min-height: 72px;
}

.recommend-box h4 {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #b5b5b5;
    margin: 0 0 10px;
}

.recommend-box p {
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin: 0 auto 37px;
    width: 75%;
}

.recommend-box p span {
    float: right;
}

.recommend-box a {
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    display: table;
    margin: 0 auto;
    padding: 0 10px 10px;
    border-bottom: 1px solid #4e5153;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.recommend-box a:hover {
    color: #000;
}

.recommends-slider .slick-slide {
    margin: 0 30px;
}

.recommends-slider .slick-list {
    margin: 0 -30px;
}


/* **** Collection Story **** */

.collection-story-wrp {
    padding: 0 0 85px;
    background: #5e5e5e;
    overflow: hidden;
}

.collection-story-wrp .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.collection-story-wrp .row {
    display: flex;
    align-items: center;
}

.collection-story-wrp img {
    width: 100%;
}

.collection-story-wrp .story-info {
    text-align: right;
    width: 60%;
    margin-left: auto;
    padding-right: 30px;
}

.collection-story-wrp .story-info h2 {
    font-weight: 200;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #ffffff;
}

.collection-story-wrp .story-info p {
    font-weight: 200;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin: 0;
}

.one {
    order: 1;
}

.two {
    order: 2;
}


/* **** End Collection Story **** */


/* **** refractions **** */

.refractions-wrp {
    padding: 25px 0 75px;
}

.refractions-wrp .container {
    max-width: 988px;
    width: 988px;
}

.refractions-wrp h2 {
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 20px;
}

.refractions-wrp p {
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.refractions-wrp img {
    width: 100%;
    margin: 75px 0;
}

.pigmnets-wrp .pigmnets-img {
    position: relative;
}

.pigmnets-wrp .pigmnets-img h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pigmnets-wrp p {
    margin: 0;
}


/* **** End refractions **** */


/* **** BENEFITS **** */

.benefit-wrp {
    padding: 250px 0 100px;
    overflow: hidden;
    background-color: #5e5e5e;
}

.benefit-wrp .container-fluid {
    padding-left: 0;
}

.benefit-wrp .row {
    display: flex;
    align-items: center;
}

.benefit-wrp .benefit-img img {
    width: 100%;
}

.benefit-info h2 {
    font-weight: 200;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 25px;
}

.benefit-info p {
    font-weight: 200;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin: 0 0 30px;
}


/* **** End BENEFITS **** */


/* **** envoking-wrp **** */

.envoking-wrp {
    padding: 65px 0 40px;
}

.envoking-wrp h2 {
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.envoking-wrp h3 {
    font-weight: 200;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
}

.envoking-wrp p {
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.envoking-block {
    padding: 52px 0 0;
}

.envoking-block ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px 0;
}

.envoking-block ul img {
    max-width: 100%;
    width: 100%;
}

.envoking-block ul li h3 span {
    display: block;
}

.envoking-info p {
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.envoking-info p span {
    font-size: 14px;
}


/* **** End envoking-wrp **** */


/* **** Video **** */

.video-wrp {
    background-color: #5e5e5e;
    padding: 100px 0 0;
}

.video-wrp .video-block {
    display: table;
    margin: 0 auto;
    display: table;
    position: relative;
    width: 850px;
    height: 450px;
    z-index: 5;
}

.video-wrp .video-block a.play {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.video-wrp .video-block a.play img {
    max-width: 100%;
}

.video-wrp .video-block iframe {
    height: 100%;
    width: 100%;
}


/* **** End Video **** */


/* **** features-wrp **** */

.features-wrp {
    padding: 100px 0 0;
    margin-top: -60px;
    position: relative;
    z-index: 1;
    background-color: #2f3335;
}

.features-block {
    background-color: #242627;
    padding: 40px 0;
}

.features-block img {
    max-width: 100%;
    margin: 0 auto 15px;
}

.features-block p {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}


/* **** End features-wrp **** */


/* **** contact **** */

.contact-wrp {
    background-color: #2f3335;
    padding: 70px 0 120px;
}

.contact-wrp .can-help-footer {
    padding: 0 0 92px;
    border-bottom: 1px solid #6a6d6e;
    margin: 0 0 100px;
}

.contact-wrp .can-help-footer h2 {
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 60px;
}

.contact-wrp .can-help-footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-wrp .can-help-footer ul li {
    margin-right: 100px;
}

.contact-wrp .can-help-footer ul li:last-child {
    margin: 0;
}

.contact-wrp .can-help-footer ul li a {
    font-weight: 200;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.form-box {
    width: 80%;
}

.contact-wrp form label {
    min-height: 200px;
    font-weight: 200;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #ffffff;
}

.contact-wrp form label span {
    display: block;
    margin: 25px 0 0;
    font-size: 18px;
    line-height: 28px;
    text-transform: initial;
}

.contact-wrp form .form-group {
    position: relative;
}

.contact-wrp form .form-control {
    background-color: transparent;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #969696;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #6a6d6e;
    box-shadow: none;
    outline: none;
    height: auto;
    padding: 15px 80px 15px 0;
}

.contact-wrp form .next-btn {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
}

.contact-wrp form .current {
    margin: 20px 0 0;
}

.contact-wrp form .current span {
    margin-right: 20px;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #b5b5b5;
}

.contact-wrp form .current a {
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #ffffff;
}


/* **** End contact **** */


/* ***** seals-blue-wrp ***** */

.seals-blue-wrp {
    background-color: #fff;
    padding: 20px 0 100px;
}

.seals-blue-wrp h2 {
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #151515;
    margin: 0 0 21px;
}

.seals-blue-wrp p {
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #151515;
}

.seals-blue-wrp img {
    width: 100%;
    margin: 60px 0 0;
}


/* ***** End seals-blue-wrp ***** */


/* **** explore **** */

.explore-wrp {
    background-color: #0E40AA;
    padding: 20px 0 36px;
}

.explore-wrp h2 {
    font-weight: 200;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.explore-wrp img {
    width: 100%;
}

.explore-wrp h3 {
    font-weight: 200;
    font-size: 27px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 9px 0 0;
}

.explore-wrp p {
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0;
}

.benefit-second {
    padding: 80px 0;
}


/* **** End explore **** */

.envoking-second .envoking-block {
    padding: 100px 0;
}

.envoking-second .envoking-block img {
    max-width: 100%;
    width: 100%;
}


/* **** timelessness-bg **** */

.timelessness-wrp {
    padding: 16px 0 32px;
    background-image: url(../images/timelessness-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.timelessness-wrp h2 {
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 21px;
}

.timelessness-wrp p {
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.timelessness-wrp img {
    width: 100%;
    margin: 68px 0 0;
}


/* **** transcendance-wrp **** */

.transcendance-wrp {
    padding: 10px 0 51px;
}

.transcendance-wrp h2 {
    font-weight: 200;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.transcendance-block {
    padding: 0 0 40px;
}

.transcendance-block .row {
    display: flex;
    align-items: center;
}

.transcendance-block a.right,
.transcendance-block a.left {
    font-weight: 200;
    font-size: 27px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #969696;
    margin: 0 auto;
    display: table;
    padding: 0 15px 10px;
    position: relative;
}

.transcendance-block a.right:before,
.transcendance-block a.left:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/arrow1.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 6px;
}

.transcendance-block a.right:before {
    background-position: right;
    background-image: url(../images/arrow2.svg);
}

.transcendance-block img {
    max-width: 100%;
    margin: 0 auto;
    display: table;
}

.transcendance-wrp h4 {
    font-weight: 200;
    font-size: 27px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.transcendance-wrp p {
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0;
}


/* **** End transcendance-wrp **** */

.transcendance-hero .inner-details h2 {
    color: #000103;
}

.transcendance-hero .inner-details p {
    color: #000103;
}


/* **** Magnum Opus Page **** */

.magnum-wrp .prism-about {
    background: #2B2B2B;
}

.magnum-wrp .regime-wrpper {
    background: #2B2B2B;
}

.magnum-wrp .collection-story-wrp {
    background: #2B2B2B;
}

.magnum-wrp .transcendance-wrp {
    background: #F0F0F2;
}

.magnum-wrp .transcendance-wrp h2 {
    color: #000;
}

.magnum-wrp .transcendance-wrp .transcendance-block a.right:before,
.magnum-wrp .transcendance-wrp .transcendance-block a.left:before {
    background-image: url(../images/arrow3.svg);
}

.magnum-wrp .transcendance-wrp .transcendance-block a.right:before {
    background-position: right;
    background-image: url(../images/arrow4.svg);
}

.magnum-wrp .transcendance-wrp h4,
.magnum-wrp .transcendance-wrp p {
    color: #000;
}

.magnum-wrp .benefit-wrp {
    background: #2B2B2B;
}

.magnum-wrp .envoking-wrp {
    background: #242729;
}

.magnum-wrp .video-wrp {
    background: #2B2B2B;
}


/* **** End Magnum Opus Page **** */


/* **** decadance Page **** */

.decadance-wrp .prism-about {
    background: #2B2B2B;
}

.decadance-wrp .regime-wrpper {
    background: #2B2B2B;
}

.decadance-wrp .collection-story-wrp {
    background: #2B2B2B;
}

.decadance-wrp .transcendance-wrp {
    background: #F0F0F2;
}

.decadance-wrp .timelessness-wrp {
    background: #161616;
}

.decadance-wrp .transcendance-wrp h2 {
    color: #000;
}

.decadance-wrp .transcendance-wrp .transcendance-block a.right:before,
.decadance-wrp .transcendance-wrp .transcendance-block a.left:before {
    background-image: url(../images/arrow3.svg);
}

.decadance-wrp .transcendance-wrp .transcendance-block a.right:before {
    background-position: right;
    background-image: url(../images/arrow4.svg);
}

.decadance-wrp .transcendance-wrp h4,
.decadance-wrp .transcendance-wrp p {
    color: #000;
}

.decadance-wrp .benefit-wrp {
    background: #2B2B2B;
}

.decadance-wrp .envoking-wrp {
    background: #242729;
}

.decadance-wrp .video-wrp {
    background: #2B2B2B;
}


/* **** decadance Page **** */


/* ***** Creams Page **** */

.creams-wrp {
    padding: 150px 0 50px;
    background-color: #5D5D5D;
}

.titlebix h2 {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 13px;
}

.titlebix p {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 58%;
    margin: 0 auto;
}

.creams-block {
    padding: 100px 0 0;
}

.creams-block .recommend-box {
    margin: 0 0 30px;
}

.creams-block .cream-box {
    position: relative;
    display: table;
    padding-right: 130px;
    margin: 0 0 30px;
}

.creams-block .cream-box img {
    max-width: 100%;
    margin: 0;
}

.cream-info {
    position: absolute;
    right: 0;
    top: 70px;
}

.cream-info p {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #B5B5B5;
    margin: 0 0 15px;
}

.cream-info a {
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 0 10px;
    text-decoration: underline;
}

.luxury-box {
    display: flex;
    align-items: center;
}

.luxury-box img {
    max-width: 100%;
    margin-right: 36px;
}

.luxury-box .luxury-info h3 {
    font-weight: 200;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 50px;
}

.luxury-box .luxury-info p {
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0 0 5px;
}

.luxury-box .luxury-info a {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: underline;
}

.cleanser-box {
    display: block;
    position: relative;
}

.cleanser-box img {
    width: 100%;
}

.cleanser-box .luxury-info {
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 10px 10px 60px;
}


/* ***** End Creams Page **** */


/* **** About **** */

.about-banner {
    position: relative;
    margin: 110px 0 0;
}

.about-banner .about-heroimg {
    width: 100%;
}

.abt-dt {
    position: absolute;
    right: 18%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 386px;
}

.abt-dt h4 {
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0;
}


/* **** End About **** */


/* **** about-informetion ***** */

.about-informetion {
    background-color: #5D5D5D;
    padding: 0 0 80px;
}

.informetion-block {
    margin: 0 0 40px;
}

.informetion-block .row {
    display: flex;
    align-items: center;
}

.informetion-info {
    text-align: right;
    width: 60%;
    margin-left: auto;
}

.informetion-info h2 {
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0 0 40px;
}

.informetion-info p {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 30px;
}

.informetion-info p:last-child {
    margin: 0;
}

.informetion-image img {
    width: 100%;
}

.left-informetion .informetion-info {
    margin-left: 0;
    text-align: left;
}


/* **** End about-informetion ***** */


/* **** Beauty **** */

.beauty-wrp {
    background-color: #5D5D5D;
    padding: 0 0 80px;
}

.beauty-wrp .titlebix h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 16px;
}

.beauty-wrp {
    width: 100%;
    padding: 0 0 200px;
    overflow: hidden;
}

.beauty-wrp .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.beauty-slider .slider-box img {
    width: 100%;
    margin: 0 0 30px;
}

.beauty-slider .slider-box h3 {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 15px;
}

.beauty-slider .slider-box a {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    display: block;
    text-decoration: underline;
}

.beauty-slider .slick-slide {
    margin: 0 20px;
}

.beauty-slider .slick-list {
    margin: 0 -20px;
}


/* **** End Beauty **** */


/* **** charter **** */

.charter-wrp {
    background-color: #5D5D5D;
    padding: 0 0 70px;
}

.charter-wrp h2 {
    font-weight: 200;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 33px;
}

.charter-block {
    margin: 0 auto;
    display: table;
    width: 625px;
}

.charter-block img {
    max-width: 100%;
    margin: 0 auto;
}

.charter-block p {
    font-weight: 200;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-top: -300px;
}

.manifestations-wrp {
    padding: 154px 0 0;
}

.manifestations-wrp h2 {
    margin: 0 0 30px;
}

.manifestation-box {
    margin: 0 0 70px;
}

.manifestation-box h4 {
    font-weight: 200;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0;
}

.manifestation-box img {
    max-width: 100%;
    margin: 0 auto;
}

.about-transcendance .transcendance-wrp {
    padding: 50px 0 150px;
}

.about-transcendance .transcendance-wrp h2 {
    margin: 0 0 15px;
}

.about-transcendance .transcendance-wrp h3 {
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #040404;
    margin: 0 0 55px;
}


/* **** End charter **** */


/* **** Manifesto **** */

.abt-dt h2 {
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0 0 15px;
}

.abt-dt p {
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 20px;
}


/* **** End Manifesto **** */


/* ***** Art Page **** */

.art-informetion .informetion-block {
    margin: 0 0 75px;
}

.art-informetion .informetion-info h2 {
    margin: 0 0 11px;
}

.art-informetion .informetion-info span {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
    display: block;
    margin: 0 0 11px;
}


/* **** End Art Page **** */


/* ***** Science Page **** */

.science-banner .abt-dt h2 {
    color: #151515;
}

.science-banner .abt-dt p {
    color: #151515;
}

.ccrt-wrpper {
    background-color: #5D5D5D;
}

.ccrt-wrpper .ccrt-block h2 {
    font-weight: 200;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0 auto 50px;
    width: 80%;
}

.ccrt-wrpper .ccrt-block {
    padding: 0 70px 120px;
}

.ccrt-wrpper .ccrt-block .row {
    margin-left: -35px;
    margin-right: -35px;
}

.ccrt-wrpper .ccrt-block .col-md-6.col-sm-6 {
    padding-right: 35px;
    padding-left: 35px;
}

.ccrt-wrpper .ccrt-block img {
    width: 100%;
    margin: 0 0 24px;
}

.ccrt-wrpper .ccrt-block h3 {
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.ccrt-wrpper .ccrt-block p {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.science-informetion .informetion-block {
    margin: 0 0 50px;
}

.science-informetion .informetion-info {
    width: auto;
}

.cellular-block {
    padding: 150px 0 100px;
    width: 600px;
    margin: 0 auto;
}

.cellular-block img {
    max-width: 100%;
    margin: 0 auto 50px;
}

.cellular-block h2 {
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.cellular-block p {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}


/* ***** End Science Page **** */


/* **** evidence-heroinfo **** */

.evidence-heroinfo {
    background: #151515;
    padding: 30px 0;
}

.evidence-heroinfo p {
    font-style: normal;
    font-weight: 200;
    font-size: 19px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}


/* **** End evidence-heroinfo **** */


/* **** clinical  **** */

.clinical-wrp {
    padding: 90px 0 0;
    background-color: #5D5D5D;
}

.clinical-wrp .titlebix h2 {
    font-weight: 200;
    font-size: 28px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 72px;
}

.clinical-block {
    padding: 0 0 190px;
}

.clinical-block .row {
    display: flex;
    align-items: center;
}

.clinical-image img {
    max-width: 100%;
    margin: 0 auto;
}

.clinical-image h3 {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 5px;
}

.clinical-image h4 {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
    margin: 0 0 21px;
}

.clinical-image a {
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #4E5153;
    display: table;
    margin: 0 auto;
    padding: 0 0 5px;
}

.clinical-details {
    width: 80%;
    margin: 0 auto;
}

.clinical-details p {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.clinical-details p:last-child {
    margin: 0;
}

.clinical-right .clinical-details {
    text-align: right;
}


/* **** End clinical **** */


/* ***** Ingredient Philosophy Pages **** */

.keyingredients-wrp {
    background-color: #5D5D5D;
}

.keyingredients-block {
    margin: 0 0 60px;
    padding: 25px 0 50px;
    background-color: #151515;
}

.keyingredients-title span {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
    display: block;
}

.keyingredients-title h2 {
    font-weight: 200;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0;
}

.keyingredients-title p {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 25px;
}

.keyingredients-slider {
    position: relative;
    margin: 50px 0 0;
}

.keyingredients-slider .row {
    display: flex;
    align-items: center;
}

.keyingredients-slider .slider-info p {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0;
}

.keyingredients-slider .slider-info img {
    width: 100%;
}

.keyingredients-slider .slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
}

.keyingredients-slider .slider-nav h3 {
    font-weight: 200;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
    margin: 0;
    cursor: pointer;
}

.keyingredients-slider .slider-nav .slick-slide.slick-current.slick-active h3 {
    color: #fff;
}


/* ***** End Ingredient Philosophy Pages **** */

.ethos-wrp {
    background-color: #5D5D5D;
    padding: 0 0 80px;
}

.ethos-wrp h2 {
    font-weight: 200;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.ethos-box {
    margin: 0 0 70px;
}

.ethos-box img {
    width: 100%;
    margin: 0 0 25px;
}

.ethos-box h3 {
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 18px;
}

.ethos-box p {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.breakthrough-informetion span {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
    display: block;
}

.breakthrough-informetion h2 {
    margin: 0 0 10px;
}

.breakthrough-informetion p {
    margin: 0 0 18px;
}

.archetype-wrp {
    background-color: #5D5D5D;
    padding: 0 0 50px;
}

.archetype-block .titlebar h2 {
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.archetype-block .titlebar p {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 60px;
}

.archetype-box h2 {
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.archetype-box img {
    max-width: 100%;
    margin: 0 auto;
    display: table;
}

.archetype-box p {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.keyingredients-slider3 .slider-nav {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
}


/* **** keyingredients-gallery **** */

.breakthrough-slider .keyingredients-block {
    margin: 0;
}

.keyingredients-gallery {
    background-color: #5D5D5D;
    padding: 60px 0 170px;
}

.keyingredients-gallery img {
    width: 100%;
}

.gallery-block .row {
    display: flex;
    align-items: center;
}

.gallery-text {
    padding-left: 20px;
}

.gallery-text span {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
}

.gallery-text h2 {
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0;
}

.gallery-text h3 {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0 0 18px;
}

.gallery-text p {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.gallery-box {
    margin: 45px 0 0;
}

.gallery-box img {
    max-width: 100%;
    margin: 0 0 30px;
}

.gallery-box h2 {
    font-weight: 200;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.gallery-box p {
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}


/* **** End  keyingredients-gallery **** */


/* **** products **** */

.about-banner .shop-dt {
    width: 200px;
    right: 20%;
    top: 50%;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.about-banner .shop-dt h5 {
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D8CDCD;
    display: block;
    margin: 0;
}

.about-banner .shop-dt h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.about-banner .shop-dt h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0;
}

.about-banner .shop-dt h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #969696;
    margin: 0 0 40px;
}

.about-banner .shop-dt a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
    text-decoration: underline;
    display: block;
}

.about-banner .shop-dt p {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
    margin: 0;
}

.about-banner .shop-dt p span {
    float: right;
}


/* **** End products **** */


/* **** description-wrp **** */

.description-wrp {
    background-color: #E3E3E3;
    padding: 104px 0;
    position: relative;
}

.description-wrp:before {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 50%;
    background-image: url(../images/description-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.description-bg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
}

.description-wrp .accordion .accordion-item {
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    padding: 0 0 30px;
    border-bottom: 1px solid #969696;
    margin: 0 0 30px;
    border-radius: 0;
}

.description-wrp .accordion .accordion-item:last-child {
    border: none;
    padding: 0;
}

.description-wrp .accordion .accordion-item .accordion-button {
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
    position: relative;
    padding: 15px 0;
}

.description-wrp .accordion.product .accordion-item .accordion-button:before {
    content: "\f067";
}

.description-wrp .accordion .accordion-item .accordion-button:before {
    position: absolute;
    content: "\f068";
    font-family: "Font Awesome 5 Pro";
    right: 0;
    top: 50%;
    font-size: 20px;
    color: #000;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.description-wrp .accordion.product .accordion-item .accordion-button.collapsed:before {
    content: "\f068";
}

.description-wrp .accordion .accordion-item .accordion-button.collapsed:before {
    content: "\f067";
    font-family: "Font Awesome 5 Pro";
}

.description-wrp .accordion .accordion-item .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.description-wrp .accordion .accordion-item .accordion-button:focus {
    box-shadow: none;
}

.description-wrp .accordion .accordion-item .accordion-button::after {
    display: none;
}

.description-wrp .accordion .accordion-item .accordion-body {
    padding: 0;
}

.description-wrp .accordion .accordion-item p {
    margin: 0 0 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #000000;
}


/* **** End description-wrp **** */


/* **** INGREDIENTS **** */

.ingredients-wrp {
    background-color: #EDEDED;
    padding: 44px 0 103px;
}

.ingredients-wrp .titlebar h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.ingredients-wrp .titlebar p {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 0 0 54px;
}

.ingredients-wrp .nav-tabs {
    border: none;
    margin: 0 0 23px;
}

.ingredients-wrp .nav-tabs li {
    float: left;
    width: 33.33%;
}

.ingredients-wrp .nav-tabs li:last-child .nav-link {
    text-align: right;
}

.ingredients-wrp .nav-tabs li .nav-link {
    margin: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #B5B5B5;
    display: block;
    width: 100%;
    text-align: left;
}

.ingredients-wrp .nav-tabs .nav-item.show .nav-link,
.ingredients-wrp .nav-tabs .nav-link.active {
    color: #000000;
}

.ingredients-info .row {
    display: flex;
    align-items: center;
}

.ingredients-info p {
    width: 60%;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 0;
}

.ingredients-info img {
    max-width: 100%;
}


/* **** End INGREDIENTS **** */

.benefits-wrp {
    background-color: #060606;
    padding: 37px 0 0;
}

.benefits-wrp h2 {
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 24px;
}

.benefits-wrp p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: auto;
    margin: 0;
}

.benefits-wrp .titlebix {
    margin: 0 0 51px;
}

.benefits-wrp .benefits-block {
    width: 70%;
    margin: 0 auto;
}

.benefits-wrp .benefits-block img {
    width: 100%;
}

.benefits-wrp .benefits-info li {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.benefits-wrp .benefits-info li:last-child {
    margin: 0;
}

.benefits-wrp .benefits-info li span {
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    display: block;
    min-width: 60px;
}


/* **** progression-wrp **** */

.progression-wrp {
    background-color: #161616;
    padding: 90px 0 44px;
}

.progression-wrp h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 14px;
}

.progression-wrp p {
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.progression-wrp img {
    max-width: 100%;
    margin: 0 auto;
    display: table;
}

.product-transcendance {
    background: #E7E7E7;
}

.product-transcendance h2 {
    color: #000;
}

.product-transcendance .transcendance-block a.right:before,
.product-transcendance .transcendance-block a.left:before {
    background-image: url(../images/arrow3.svg);
}

.product-transcendance .transcendance-block a.right:before {
    background-position: right;
    background-image: url(../images/arrow4.svg);
}

.product-transcendance p {
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #151515;
    margin: 0 0 16px;
}

.product-transcendance h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #000103;
}

.product-transcendance .transcendance-info padding: {
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000103;
    margin: 0;
}


/* **** End progression-wrp **** */


/* **** visible-results **** */

.visible-results {
    position: relative;
}

.visible-results .visible-bg {
    width: 100%;
}

.visible-box {
    position: absolute;
    top: 50%;
    right: 19%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.visible-results h2 {
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 16px;
}

.visible-results p {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin: 0 0 50px;
}

.visible-results p:last-child {
    margin: 0;
}


/* **** End visible-results **** */


/* **** application-wrp **** */

.application-wrp {
    background-color: #E5E5E5;
    padding: 78px 0;
}

.application-wrp .titlebar h2 {
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #000103;
    margin: 0 0 20px;
}

.application-wrp .titlebar p {
    width: 760px;
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #151515;
    margin: 0 auto;
}

.application-box {
    margin: 30px 0 0;
}

.application-box img {
    width: 100%;
    margin: 0 0 20px;
}

.application-box h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #1B1B1B;
}

.application-box p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #1B1B1B;
}


/* **** End application-wrp **** */


/* **** complex-wrpper **** */

.complex-wrpper {
    background-color: #242729;
    padding: 40px 0;
}

.replenish-slider {
    background-color: #242729;
    padding: 80px 0;
}

.replenish-slider .titlebar h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 35px;
}

.replenish-slider-box h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 16px;
}

.replenish-slider-box p {
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    width: 80%;
    min-height: 350px;
    margin: 0 auto;
}

.replenish-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.replenish-slider .slick-dots li {
    margin-right: 10px;
    line-height: 0;
}

.replenish-slider .slick-dots li button {
    background-color: #fff;
    border-radius: 100%;
    box-shadow: none;
    outline: none;
    font-size: 0;
    border: none;
    height: 4px;
    width: 4px;
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.replenish-slider .slick-dots li button:before {
    position: absolute;
    left: -3px;
    top: -3px;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    content: "";
    border-radius: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.replenish-slider .slick-dots li.slick-active button:before {
    opacity: 1;
}


/* *** product6t Page **** */

.product6t-wrp .about-banner img {
    width: 65%;
}

.product6t-wrp .about-banner .shop-dt {
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    background-color: #0D0D0D;
    transform: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product6t-wrp .about-banner .shop-dt h2 {
    margin: 0 0 90px;
}

.product6t-wrp .about-banner .shop-dt h4 {
    margin: 0 0 10px;
}

.product6t-wrp .about-banner .shop-dt p {
    margin: 0 0 66px;
}

.product6t-wrp .about-banner .shop-dt .regime-btn {
    text-align: left;
    text-decoration: none;
}

.product6t-wrp .about-banner .shop-dt .regime-btn span {
    float: right;
}

.product6t-wrp .ingredients-wrp .ingredients-block {
    position: relative;
}

.product6t-wrp .description-wrp:before {
    background-image: url(../images/description-bg1.png);
}

.product6t-wrp .ingredients-wrp .nav-tabs {
    position: absolute;
    width: 100%;
}

.benefits-btn {
    background: #B5B5B5;
    border-radius: 3px;
    margin-left: 60px;
    padding: 19px 50px 18px;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #151515;
    margin-top: 50px;
    display: table;
    transition: all 0.3s linear;
}

.benefits-btn:hover {
    background-color: #fff;
}

.product6t-wrp .visible-box {
    width: 25%;
    right: 19%;
}

.product6t-wrp .visible-box .visible-info {
    border-top: 1px solid #fff;
    padding: 28px 0 0;
}

.product-video {
    background-color: #E5E5E5;
    padding: 78px 0;
}

.product-video .prd-video-block {
    display: table;
    margin: 0 auto;
    position: relative;
}

.product-video .prd-video-block a {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.info-title {
    background-color:
}

.info-title h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    padding: 20px;
    margin: 0;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* *** End product6t Page **** */

.product-info-bag {
    background-color: #242729;
    padding: 15px 0;
}

.product-info-bag ul li {
    display: inline-block;
    margin-right: 15px;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.product-info-bag a {
    margin-right: 0;
    display: table;
    margin-left: auto;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}


/* ***** product-page **** */

.product-page-wrp .about-banner .shop-dt {
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    transform: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-page-wrp .about-banner .shop-dt h2 {
    margin: 0 0 90px;
}

.product-page-wrp .about-banner .shop-dt h4 {
    margin: 0 0 10px;
}

.product-page-wrp .about-banner .shop-dt p {
    margin: 0 0 66px;
}

.product-page-wrp .about-banner .shop-dt .regime-btn {
    text-align: left;
    text-decoration: none;
}

.product-page-wrp .about-banner .shop-dt .regime-btn span {
    float: right;
}

.product-page-wrp .description-wrp {
    background-color: #121212;
}

.product-page-wrp .description-wrp:before {
    background-image: url(../images/description-bg2.png);
}

.product-page-wrp .description-wrp .accordion .accordion-item .accordion-button {
    color: #fff;
}

.product-page-wrp .description-wrp .accordion .accordion-item p {
    color: #fff;
}

.product-page-wrp .description-wrp .accordion .accordion-item .accordion-button:before {
    color: #fff;
}

.product-page-wrp .skin-wrp {
    position: absolute;
    bottom: 40px;
    right: 20%;
}

.product-page-wrp .skin-wrp li {
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0 0 10px;
}

.product-page-wrp .skin-wrp li:last-child {
    margin: 0;
}

.product-page-wrp .skin-wrp li span {
    text-transform: uppercase;
    width: 150px;
    font-size: 19px;
    display: inline-block;
    margin-right: 40px;
    text-align: right;
}

.product-page-wrp .ingredients-wrp .ingredients-block {
    position: relative;
}

.product-page-wrp .ingredients-wrp .nav-tabs {
    position: absolute;
    width: 100%;
}

.product-page-wrp .pigmnets-wrp {
    padding: 150px 0 0;
}

.product-page-wrp .pigmnets-wrp img {
    width: 100%;
    margin: 60px 0;
}

.product-page-wrp .visible-results .description-wrp {
    background-color: transparent
}

.product-page-wrp .visible-results .description-wrp:before {
    display: none;
}

.product-page-wrp .visible-box {
    width: 25%;
    right: 19%;
}

.product-page-wrp .visible-box .visible-info {
    border-top: 1px solid #fff;
    padding: 28px 0 0;
}

.product-page-wrp .envoking-wrp {
    background-color: #9D9D9D;
    padding: 80px 0 160px;
}

.product-page-wrp .envoking-wrp .envoking-block {
    padding: 162px 0 0;
}


/* ***** End product-page **** */


/* **** Mobile Menu **** */

.navigation-wrapper .accordion {
    display: none;
}

.navigation-wrapper .accordion .accordion-item {
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #fff;
    margin: 0 0 10px;
    border-radius: 0;
}

.navigation-wrapper .accordion .accordion-item .accordion-button {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    position: relative;
    padding: 15px 0;
}

.navigation-wrapper .accordion .accordion-item .accordion-button:before {
    position: absolute;
    content: "\f068";
    font-family: "Font Awesome 5 Pro";
    right: 0;
    top: 50%;
    font-size: 18px;
    color: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navigation-wrapper .accordion .accordion-item .accordion-button.collapsed:before {
    content: "\f067";
    font-family: "Font Awesome 5 Pro";
}

.navigation-wrapper .accordion .accordion-item .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.navigation-wrapper .accordion .accordion-item .accordion-button:focus {
    box-shadow: none;
}

.navigation-wrapper .accordion .accordion-item .accordion-button::after {
    display: none;
}

.navigation-wrapper .accordion .accordion-item .accordion-body {
    padding: 0;
}

.navigation-wrapper .accordion .accordion-item ul li a {
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    display: block;
    padding: 5px 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/* **** End Mobile Menu **** */

.explore-slider .slick-dots,
.transcendance-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
}

.explore-slider .slick-dots li,
.transcendance-slider .slick-dots li {
    margin-right: 10px;
    line-height: 0;
}

.explore-slider .slick-dots li button,
.transcendance-slider .slick-dots li button {
    background-color: #fff;
    border-radius: 100%;
    box-shadow: none;
    outline: none;
    font-size: 0;
    border: none;
    height: 4px;
    width: 4px;
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.transcendance-slider.trans-dark-slider .slick-dots li button {
    background-color: #2f3335;
}

.transcendance-slider.trans-dark-slider .slick-dots li button::before {
    border: 1px solid #2f3335 !important;
}

.explore-slider .slick-dots li button:before,
.transcendance-slider .slick-dots li button::before {
    position: absolute;
    left: -3px;
    top: -3px;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    content: "";
    border-radius: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.explore-slider .slick-dots li.slick-active button:before,
.transcendance-slider .slick-dots li.slick-active button:before {
    opacity: 1;
}

.transcendance-slider img {
    max-width: 100%;
    margin: 0 auto 30px;
}

.transcendance-slider .slider-box {
    text-align: center;
}

.transcendance-slider button.slick-prev.slick-arrow,
.transcendance-slider button.slick-next.slick-arrow {
    position: absolute;
    right: 30px;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    font-size: 0;
    font-weight: 0;
    border: none;
    box-shadow: none;
    outline: none;
    transform: translate(0, -50%);
    z-index: 9;
    background-color: transparent;
}

.transcendance-slider button.slick-prev.slick-arrow {
    right: auto;
    left: 30px;
}

.transcendance-slider button.slick-prev.slick-arrow:before,
.transcendance-slider button.slick-next.slick-arrow:before {
    position: absolute;
    content: "";
    font-size: 30px;
    color: #fff;
    background-image: url(../images/slider-arrow2.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 150px;
}

.transcendance-slider button.slick-prev.slick-arrow:before {
    background-image: url(../images/slider-arrow1.svg);
    right: 0;
    left: auto;
}

.magnum-wrp .transcendance-slider button.slick-prev.slick-arrow:before,
.magnum-wrp .transcendance-slider button.slick-next.slick-arrow:before {
    background-image: url(../images/slider-arrow4.svg);
}

.magnum-wrp .transcendance-slider button.slick-prev.slick-arrow:before {
    background-image: url(../images/slider-arrow3.svg);
    right: 0;
    left: auto;
}

.decadance-wrp .transcendance-slider button.slick-prev.slick-arrow:before,
.decadance-wrp .transcendance-slider button.slick-next.slick-arrow:before {
    background-image: url(../images/slider-arrow6.svg);
}

.decadance-wrp .transcendance-slider button.slick-prev.slick-arrow:before {
    background-image: url(../images/slider-arrow5.svg);
    right: 0;
    left: auto;
}

.product6t-wrp .transcendance-slider button.slick-prev.slick-arrow:before,
.product6t-wrp .transcendance-slider button.slick-next.slick-arrow:before {
    background-image: url(../images/reg.svg);
}

.product6t-wrp .transcendance-slider button.slick-prev.slick-arrow:before {
    background-image: url(../images/face.svg);
    right: 0;
    left: auto;
}

.product4a-wrp .transcendance-slider button.slick-prev.slick-arrow:before,
.product4a-wrp .transcendance-slider button.slick-next.slick-arrow:before {
    background-image: url(../images/slider-arrow6.svg);
}

.product4a-wrp .transcendance-slider button.slick-prev.slick-arrow:before {
    background-image: url(../images/slider-arrow5.svg);
    right: 0;
    left: auto;
}

.dali-benefit {
    padding: 80px 0 0;
}

.replenish-slider {
    background-image: url(../images/replenish-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.replenish-slider-box {
    min-height: 650px;
}

.replenish-slider-box p {
    min-height: unset;
    margin: 0 auto 20px;
}

.line-link {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 0 0 5px;
}

.line-link:hover {
    color: #fff;
    opacity: 0.6;
}

.complex-wrpper .recommends-slider {
    padding: 0;
}

.product-replenish {
    background: #242729;
}

.product-replenish .replenish-slider-box {
    min-height: unset;
}

.product-page-wrp .progression-wrp {
    background-color: #060606;
}


/* **** New Changes Css **** */

.prism-about .abt-info p {
    width: 450px;
}

.collection-story-wrp .story-info {
    width: 450px;
}

.benefit-info p {
    width: 450px;
}

.background-gray .prism-about {
    background: #5D5D5D;
}

.background-gray .regime-wrpper {
    background: #5D5D5D;
}

.background-gray .collection-story-wrp {
    background: #5D5D5D;
}


/* time prism start */

.time-prism-hero .ds-img {
    display: block;
}

.time-prism-hero .mb-img {
    display: none;
}

.envoking-circle {
    border-radius: 100%;
    display: block;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto 3rem;
    backdrop-filter: blur(4px);
}

.envoking-block-slider .envoking-block-bottom h6 {
    font-weight: 300;
}

.envoking-block-slider .envoking-block-bottom p {
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.slick-slide .envoking-block-bottom {
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.slick-slide.slick-current.slick-active .envoking-block-bottom {
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.trans-envok-block .slick-slide.slick-current.slick-active .envoking-circle.four {
    background: #95620E;
    backdrop-filter: blur(4px);
}

.magnum-envok-block .slick-slide.slick-current.slick-active .envoking-circle.four {
    background: rgba(248, 33, 33, 0.76);
    backdrop-filter: blur(4px);
}

.magnum-envok-block .envoking-circle.four {
    background: rgba(198, 59, 59, 0.85);
    backdrop-filter: blur(4px);
}

.trans-envok-block .envoking-circle.four {
    background: rgba(162, 112, 30, 0.76);
    backdrop-filter: blur(4px);
}

.magnum-envok-block .envoking-circle.three {
    background: rgba(177, 93, 93, 0.63);
    backdrop-filter: blur(4px);
}

.trans-envok-block .envoking-circle.three {
    background: rgba(169, 124, 51, 0.66);
    backdrop-filter: blur(4px);
}

.magnum-envok-block .envoking-circle.two {
    background: rgba(175, 128, 128, 0.71);
    backdrop-filter: blur(4px);
}

.trans-envok-block .envoking-circle.two {
    background: rgba(129, 108, 74, 0.81);
    backdrop-filter: blur(4px);
}

.envoking-circle.four {
    background: rgba(3, 3, 3, 0.76);
    backdrop-filter: blur(4px);
}

.envoking-circle.three {
    background: rgba(180, 177, 177, 0.63);
    backdrop-filter: blur(4px);
}

.envoking-circle.two {
    background: rgb(155 155 155 / 63%);
    backdrop-filter: blur(4px);
}

.envoking-circle.one {
    background: rgb(85 85 88 / 63%);
    backdrop-filter: blur(4px);
}

.magnum-envok-block .envoking-circle.one {
    background: rgba(135, 112, 112, 0.67);
    backdrop-filter: blur(4px);
}

.trans-envok-block .envoking-circle.one {
    background: rgba(178, 163, 137, 0.63);
    backdrop-filter: blur(4px);
}

.trans-envok-block .envoking-circle.one {
    background: rgba(178, 163, 137, 0.63);
    backdrop-filter: blur(4px);
}

.envoking-circle p {
    font-weight: 200;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.envoking-block-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
}

.envoking-block-slider .slick-dots li {
    margin-right: 10px;
    line-height: 0;
}

.envoking-block-slider .slick-dots li button {
    background-color: #fff;
    border-radius: 100%;
    box-shadow: none;
    outline: none;
    font-size: 0;
    border: none;
    height: 4px;
    width: 4px;
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.envoking-block-slider .slick-dots li.slick-active button:before {
    opacity: 1;
}

.envoking-block-slider .slick-dots li button::before {
    position: absolute;
    left: -3px;
    top: -3px;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    content: "";
    border-radius: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.envoking-block .slick-list,
.envoking-block {
    position: relative;
}

.envoking-block:before {
    content: "";
    height: 100%;
    width: 460px;
    position: absolute;
    left: 50%;
    top: 0;
    background: rgba(196, 196, 196, 0.17);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.envoking-block-slider .envoking-block ul {
    padding: 0px;
}

.slider.envoking-block-slider ul {
    padding: 0 !important;
}


/* time prism end */